page-update-assitant {
	.about-us-content {
		position: relative;
		.info-list {
			border-top: 1px solid $newThreeColor;
			border-bottom: .5px solid $newThreeColor;
			// padding: 0 $padding;
			padding-left: 25px;
			.key {
				.label {
					display: block;
					color: #fff;
					font-size: 15px;
					letter-spacing: 0;	
					line-height: 1.25;				
				}
				.for {
					margin-top: 4px;
					display: block;
					font-size: 12px;
					color: $newFiveColor;
					letter-spacing: 0;
					line-height: 1.25;
				}
			}
			.value {
				font-size: 12px;
				color: $newFiveColor;
				margin-right: 0;
				margin-top: 0;
				em {
					display: inline-block;
					background: #F35530;
					width: 8px;
					height: 8px;
					border-radius: 50%;
					overflow: hidden;
					margin-right: 4px;
				}
			}
			.info {
				background: unset;
				padding: 9px 0;
				border-bottom: .5px solid rgba(255,255,255,0.1);
			}
			.item {
				padding-left: 0;
			}
			.item-inner {
				background-image: unset;
				padding-right: 24px;
			}
		}	
		.rights-bottom {
			font-size: 12px;
			color: $newFiveColor;
			text-align: center;
			position: absolute;
			bottom: 19px;
			left: 0;
			width: 100%;
			line-height: 17px;
		}
	}

	.download-progress {
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,.5);
	    z-index: 9999;
	    .download-progress-inner {
	    	height: 150px;
		    width: 80%;
		    background: #fff;
		    border-radius: 4px;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
		    text-align: center;
		    .title {
			    height: 54px;
			    line-height: 52px;
			    color: #000;
			    font-size: 18px;
			    border-bottom: .5px solid #B5B5B5;
		    }
		    .progress-bar {
		    	height: 12px;
			    width: 90%;
			    margin: 0 auto;
			    background: rgba(0,0,0,.1);
			    border-radius: 2px;
			    margin: 20px auto;
			    .progress-bar-inner {
			    	height: 100%;
			    	background: url(../assets/img/progress-bar@2x.png) 0 0 repeat;
			    	background-size: auto 100%;
			    }
		    }
		    .cancel {
		    	font-size: 18px;
			    color: #000;
			    border-top: 1px solid #b5b5b5;
			    line-height: 46px;
		    }
	    }
	}
	
}
