<!--
  Generated template for the SearchBtPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
    <div class="main-content">
        <div class="search-header" [ngClass]="isFocus ? 'input-focus' : ''">
            <div>
                <svg class="icon icon-ellipsis icon-back"  (click)="goBack()" aria-hidden="true">
                    <use xlink:href="#iconfanhui"></use>
                </svg>
                <div class="input-box">
                    <input type="text" autocomplete="off" [(ngModel)]="inputValue" (focus)="isFocus = true" (blur)="isFocus = false"  (keyup.enter)="searchList(inputValue, true)" class="common-general-button bt-input">
                    <svg class="icon icon-ellipsis icon-clear" (click)="clearKey()" aria-hidden="true">
                        <use xlink:href="#iconClear1"></use>
                    </svg>
                </div>
                
            </div>
        </div>
        <div class="search-hirtory">
            <p class="history-title">{{ global.L('SearchHistory') }}
                <span (click)="clearSearchKeys()">
                    <svg class="icon icon-ellipsis icon-clear" (click)="clearKey()" aria-hidden="true">
                        <use xlink:href="#icondelete1"></use>
                    </svg>
                </span>
            </p>
            <p class="history-list">
                <span *ngFor="let item of searchKeyList" (click)="inputValue = item;searchList(inputValue, true)">{{ item }}</span>
            </p>
        </div>
        <div class="search-body">
            <ul>
                <li (click)="goBtDetailPage(item.resid);" *ngFor="let item of searchFeedList">
                    <div class="bt-box defalut-box">
                        <p class="bt-title">{{ item.title }}</p>
                        <p class="p-info"><span>{{ item.mgdate | computeFileTime }} {{ item.size == '' ? '' : '·' }} {{ item.size }}</span></p>
                        <span class="download-btn" (click)="downloadBt(item);$event.stopPropagation();">{{ global.L('Get') }}</span>
                        <p class="p-imglist" *ngIf="item.images" [ngClass]="item.images.length == 1 ? 'one-png' : ''"><img [src]="img" *ngFor="let img of item.images" alt=""></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="refreshFeedList($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
