<!--
  Generated template for the ChangepasswdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="black-header">
    <ion-navbar>
    </ion-navbar>
</ion-header>

<ion-content>
	<div class="form-content">
		<h2 class="form-title">{{global.L("ChangePassword")}}</h2>
		<p class="form-desc">{{global.L("PasswordRuleDesc")}}</p>
		<form class="form-form" action=""  autocomplete="off">	
			<div class="form-input passwd-wrap {{eyeshow?'open-eye':'close-eye'}}">
				<!-- <div class="passwd-wrap close-eye"> -->
					<label class="label" for="password1">{{ global.L("OldPassWord") }}</label>
					<input type="{{eyeshow?'text':'password'}}" name="password1" [(ngModel)]="password1" class="input-v2" placeholder="{{global.L('PlsInputOldPassword')}}"/>
					<svg aria-hidden="true" (click)="showIcon(0)" class="icon open">
						<use xlink:href="#iconeyeopen"></use>
					</svg>
					<svg aria-hidden="true" class="icon closed" (click)="showIcon(0)">
						<use xlink:href="#iconeyeclose"></use>
					</svg>
				<!-- </div> -->
				<!-- <p class="error-input" *ngIf="pError1">{{ pErrorText1 }}</p> -->
			</div>	

			<div class="form-input passwd-wrap {{eyeshow2?'open-eye':'close-eye'}}">
				<label class="label" for="password2">{{ global.L("NewPassWord") }}</label>
				<input type="password" name="password2" [(ngModel)]="password2" class="input-v2" placeholder="{{global.L('PlsInputNewPassword')}}"/>
				<!-- <p class="error-input" *ngIf="pError2">{{ pErrorText2 }}</p> -->
				<svg aria-hidden="true" (click)="showIcon(2)" class="icon open">
					<use xlink:href="#iconeyeopen"></use>
				</svg>
				<svg aria-hidden="true" class="icon closed" (click)="showIcon(2)">
					<use xlink:href="#iconeyeclose"></use>
				</svg>
			</div>			

			<div class="form-input passwd-wrap {{eyeshow3?'open-eye':'close-eye'}}">
				<label class="label" for="password3">{{ global.L("InputAgain") }}</label>
				<input type="password" name="password3" [(ngModel)]="password3" class="input-v2" placeholder="{{global.L('PlsInputNewPassword1')}}"/>
				<!-- <p class="error-input" *ngIf="pError3">{{ pErrorText3 }}</p> -->
				<svg aria-hidden="true" (click)="showIcon(3)" class="icon open">
					<use xlink:href="#iconeyeopen"></use>
				</svg>
				<svg aria-hidden="true" class="icon closed" (click)="showIcon(3)">
					<use xlink:href="#iconeyeclose"></use>
				</svg>
			</div>
		</form> 

		<div class="common-focus-button change-passwd-btn" click-and-wait tappable (click)="commitNewPassword()">{{global.L("Commit")}}</div>
	</div>
</ion-content>
