<div class="doing-task task-list" *ngIf="fileTaskList.length > 0">
	<ion-list class="task-ul">
		<ion-item-sliding *ngFor="let task of fileTaskList;">
			<ion-item class="task-li"  ion-item>
				<div class="file-type" item-start *ngIf="!task.thumbnail" [ngClass]="task.fileStyle"></div>
				<img class="file-type" item-start [src]="task.thumbnail | photoSantizer" (error)="handleThumbnailError(info, $event)" *ngIf="task.thumbnail">
				<div class="info">
					<p class="file-name eps">{{ pretify(task.name) }}</p>
					<p class="file-info eps text-left"><em [ngClass]="task.action == 'download' ? 'file-down' : 'file-up'"></em><span class="progress-box"><em [ngStyle]="{'width': computeLoading(task) + '%'}"></em></span></p>
				</div>
				<div class="speed clear" item-end>
					<p class="amount fl" *ngIf="task.pausing === 'doing'">{{ task.speed | computeFileSize }}/S</p>
					<p class="amount fl" *ngIf="task.pausing === 'paused'">{{global.L('PAUSED')}}</p>
					<p class="amount fl" *ngIf="task.pausing === 'waiting' || task.pausing === 'waiting_retry'">{{global.L('WAITING')}}</p>
					<div class="progress fl circle btn"  tappable  (click)="toggleStatus(task)" *ngIf="!allBtnsShow">
						<svg class="icon icon-right" aria-hidden="true" *ngIf="task.pausing == 'doing'">
							<use xlink:href="#iconzanting"></use>
						</svg>
						<svg class="icon icon-right" aria-hidden="true" *ngIf="task.pausing != 'doing'"  [ngClass]="task.action == 'download' ? '' : 'continue-up'">
							<use xlink:href="#iconjixuxiazai"></use>
						</svg>
						<!-- <div class="circle gray left-circle"></div>
						<div class="circle right-circle" [ngClass]="task.loaded > task.total / 2 ? 'light' : 'gray'" [style.transform]="getRotate(task)" ></div>
						<div class="center" ><div [ngClass]="task.pausing != 'doing' ? 'down'  : 'pause'"></div></div> -->
					</div>
					<div class="progress fl circle btn" *ngIf="allBtnsShow">
						<em class="nochoose-circle" *ngIf="!task.selected" ></em>
						<svg class="icon icon-right" aria-hidden="true" *ngIf="task.selected" [ngClass]="task.selected?'slight':''">
							<use xlink:href="#icongouxuan"></use>
						</svg>
					</div>
				</div>
			</ion-item>
		</ion-item-sliding>
	</ion-list>
</div>

