page-login {
	.forget-password {
		margin-top: 30px;
		color: #fff;
		font-size: 13px;
		line-height: 18px;
	}	
	.form-content { 
		position: relative;
		padding-bottom: 80px;
		background: transparent;
	}

	// .form-content {
	// 	background: url(../assets/img/login-bg.wmbm) right bottom no-repeat;
	// 	background-size: 375px 667px;
	// }	

}

.keyboard-is-open .form-area {
	display: none;
}
