<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="black-header">
	<ion-navbar>
	</ion-navbar>
</ion-header>
<ion-content>
	<div class="form-content">
		<h2 class="form-title">{{global.L("Login")}}({{global.L("InnerTestVersion")}})</h2>
		<p class="form-desc">{{ global.L("WonderfulWorld") }}</p>
		<form class="form-form" action="">
			<div class="form-input">
				<label class="label" for="username-login">{{ global.L("Email") }}</label>
				<input type="text" id="username-login" name="username" [(ngModel)]="username" class="input-v2"
					placeholder="{{global.L('PlsInputEmail')}}" />
				<!-- <label class="borderline"></label> -->
				<!-- <p class="error-input" *ngIf="uError">{{ uErrorText }}</p> -->
			</div>

			<div class="form-input passwd-wrap {{eyeshow?'open-eye':'close-eye'}}">
				<label class="label" for="password-login">{{ global.L("LoginPassword") }}</label>
				<input id="password-login" type="{{eyeshow?'text':'password'}}" name="password" [(ngModel)]="password"
					class="input-v2" placeholder="{{global.L('PlsInputPassword')}}" />
				<!-- <label class="borderline"></label> -->
				<svg aria-hidden="true" (click)="showIcon()" class="icon open">
					<use xlink:href="#iconeyeopen"></use>
				</svg>
				<svg aria-hidden="true" class="icon closed" (click)="showIcon()">
					<use xlink:href="#iconeyeclose"></use>
				</svg>
				<!-- <p class="error-input" *ngIf="pError">{{ pErrorText }}</p> -->
			</div>
		</form>

		<div class="forget-password" (click)="goForgetPasswdPage()">{{ global.L("ForgotPassword") }}?</div>

		<!-- <div class="common-focus-button login-btn" tappable (click)="doLogin()">{{global.L("Login")}}({{global.L("InnerTestVersion")}})</div>
		<div class="buttons">
			<div class="forget-password fl" (click)="goForgetPasswdPage()">{{global.L("ForgotPassword")}}</div>
			<div class="forget-password fr" (click)="goRegisterPage()">{{global.L("RegisterNewUser")}}</div>
		</div>		 -->
	</div>

	<div class="form-area">
		<p class="second-btn" (click)="goRegisterPage()">{{ global.L("RegisterNow") }}</p>
		<button class="main-btn" (click)="doLogin()">{{ global.L("Login") }}</button>
	</div>
</ion-content>
