page-coin-get {
	.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
		color: #FFF;
	}
	.toolbar-title-ios {
		color: #FFF;
	}
	.content, .content-ios {
		background: $newFirstColor;
	}
	.main {
		width: calc(100% - 30px);
		margin: 0 auto;
		border-radius: 4px;
		margin-top: 31px;
		.assets-select {
			padding: 10px;
			border-radius: 4px;
			background: #f7f7f7;
			font-size: 14px;
			font-weight: 500;
			img {
				width: 36px;
			}
			p {
				color: #4A4A4A;
				font-size: 14px;
				line-height: 36px;
				margin-left: 6px;
			}
		}
		.scan-title {
			font-size: 18px;
			color: #FFFFFF;
			padding-bottom: 19px;
			text-align: center;
		}
		.qrcode {
			width: 240px;
			margin: 0 auto;
			display: block;
			img {
				width: 100%;
				display: block;
			}
		}
		.wallet-address {
    		padding-top: 20px;
			.desc {
				color: #4A4A4A;
				font-size: 14px;
				line-height: 20px;
				padding: 10px 0;
				text-align: center;
			}
			.address {
				text-align: left;
				background: rgba(0,0,0,0.1);
				border-radius: 4px;
				font-size: 14px;
				color: #FFFFFF;
				letter-spacing: 0.17px;
				line-height: 16px;
				padding: 10px 16px;
				margin: 0 12px;
			}
			.btn-box {
				padding: 12px;
				padding-top: 25px;
				span {
					display: inline-block;
					width: calc(50% - 5px);
					height: 44px;
					line-height: 44px;
					border-radius: 20px;
					background: #FFFFFF;
					border-radius: 4px;
					color: $newFirstColor;
					text-align: center;
					box-sizing: border-box;
					overflow: hidden;
					font-size: 16px;
					font-weight: 500;
					&.right-btn {
						margin-left: 10px;
					}
				}
			}
		}
	}

}	
