page-register {
	// .form-content {
	// 	background: url(../assets/img/bg-v2.png) right bottom no-repeat;
	// 	background-size: 375px 667px;
	// }	
	.change-passwd-btn {
		background: #F35530;
		border-radius: 4px;
		font-size: 16px;
		color: #FFFFFF;
		letter-spacing: -0.39px;
		text-align: center;
		border: unset;
		box-shadow: unset;
		margin: unset;
		position: absolute;
		bottom: 12px;
		left: 10px;
		right: 10px;
		&::after {
			border: unset;
		}
		&:active {
			background: #F35530;
		}
	}

}

.keyboard-is-open .form-area {
	display: none;
}
