<ion-tabs (ionChange)="setIcons($event)" #boxtabs name="boxtabs">
  <ion-tab [root]="home" tabTitle="Home"   [tabIcon]="homeIcon"></ion-tab>
  <ion-tab [root]="mining" tabTitle="Mining" [tabIcon]="miningIcon"></ion-tab>
  <ion-tab [root]="user" tabTitle="User" [tabIcon]="userIcon"></ion-tab>
  <news-notice *ngIf="isClose" [isVersion]="isVersion" [isShowAction]="isShowAction" [version]="toVersion" [head]="head" [info]="info" [txt]="btnText" [close]="closeBtn" [action]="action"  (closeNotice)="closeNotice()"></news-notice>
  <div class="showBoxShare" *ngIf="isShowShareBox">
    <div class="mask" (click)="closeShareBox()"></div>
    <div class="showShare">
      <div class="infoBox">
        <div class="info-detail">
          <p class="p1">{{ global.L('createFile') }}</p>
          <p class="p2"><b>{{ sharePercentum }}</b>%</p>
          <p><span>{{ isEnough == true ? global.L('createJoinEarn') : global.L('cantCreateMore') }}</span></p>
          <div class="info-progress"><span class="p3" [ngStyle]="{'width': spanWidth + 'px'}"></span></div>
        </div>
        <div class="info-size">
          <ul>
            <li><em>
                <svg class="icon" aria-hidden="true" end>
                    <use xlink:href="#icon-Shareddiskicon"></use>
                </svg>
            </em>{{ global.L('createdShareFile') }}<span>{{ shareStorage }}GB</span></li>
            <li>
              <em class="allshare">
                <svg class="icon" aria-hidden="true" end>
                    <use xlink:href="#icon-Totalstorageicon"></use>
                </svg>
            </em>{{ global.L('allShareFile') }}<span>{{ allShareStorage }}GB</span></li>
          </ul>
        </div>
      </div>
      <div class="closeShareBtn" (click)="closeShareBox()">
        <img src="assets/img/newsclose.png" alt="">
      </div>
    </div>
    
  </div>
</ion-tabs>
