<!--
  Generated template for the DeviceManagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>
            {{ global.L('DeviceManagement') }}
            <svg class="icon icon-right" aria-hidden="true">
                <use xlink:href="#icongengduo1"></use>
            </svg>
            <svg class="icon icon-right" aria-hidden="true">
                <use xlink:href="#iconDetailsicon1"></use>
            </svg>
        </ion-title>
    </ion-navbar>

</ion-header>
<ion-content>
    <div class="main-content">
        <div class="device-item" *ngFor="let disk of disks">
            <div class="item-left">
                <dl>
                    <dt>
                        <svg class="icon" aria-hidden="true" item-end>
                            <use xlink:href="#icondefaulticon"></use>
                        </svg>
                    </dt>
                    <dd class="dd-title"><em>{{ disk.position == 'base' ? global.L('TheDisc') : global.L('TheSecondDisc') }}</em>{{ disk.label }}</dd>
                    <dd class="dd-info" *ngIf="disk.status == 1"><em></em>{{ global.L('Used') }} {{ disk.used | computeFileSize }}/{{ disk.size | computeFileSize }}</dd>
                    <dd class="dd-info" *ngIf="disk.status == 2"><em class="error"></em>{{ global.L('ConnectErr') }}</dd>
                </dl>
            </div>
            <div class="item-right" (click)="goDeviceDetailPage(disk)">
                <svg class="icon" aria-hidden="true" item-end>
                    <use xlink:href="#icongengduo1"></use>
                </svg>
            </div>
        </div>
    </div>

</ion-content>
