page-export-keystore {
	.export-keystore-content {
		padding: $padding;
		border-top: 1px solid #d8d8d8;
		background: #fff;
		.title {
			color: #444;
			font-size: 16px;
			line-height: 2.25;
		}
		.desc {
			color: #444;
			font-size: 14px;
			line-height: 2;
		}
		.code {
			display: block;
			margin-top: 14px;
			margin-bottom: 20px;
			color: #444;
			line-height: 20px;
			font-size: 12px;
			padding: 14px 12px;
			background: #F5F5F5;
			word-break: break-all;
		}
	}
}
