page-list {
	$homePadding: 10px;
	.hide-list {
		max-height: 0;
	}
	.show-list {
		max-height: 9999px;
	}
    .back-button-ios {
		z-index: 0;
    }
    .toolbar-background {
        background: $newFirstColor;
    }
    .main-content {
        position: relative;
        width: 100%;
        height: 100%;
    }
    .content-ios {
        background: $newThreeColor;
    }
    .title {
        padding-right: 100px;
    }
    .title.list-active {
        padding: 0 10px 1px;
    }
    .title.list-no-home {
        padding-left: 30px;
    }
    .home-title-box {
        margin-left: 60px;
    }
    .search-header {
        height: 54px;
        line-height: 54px;
        overflow: hidden;
        .task-btn {
            top: 8px!important;
        }
        .aside-nav-icon {
            margin-top: 20px;
        }
        .list-header {
            top: 5px;
        }
    }
    .add-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .file-content{
        width: 100%;
        height: 100%;
    }
    .scr-content{
        width: 100%;
        height: 100%;
    }
    .operation-btns {
        position: absolute!important;
    }
    .hidden {
        opacity: 0;
    }
    .aside-nav-icon {
        font-size: 20px;
        margin-left: 10px;
    }
    .list-header {
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        color:#000;
        z-index: 888;
        &.all-width {
            width: 100%;
            background: $newFourColor;
            .back-nav {
                padding-left: 0;
            }
		}
        .back-nav {
            height: 44px;
            line-height: 44px;
            color: #fff;
            font-size: 18px;
            padding: 0 10px;
            min-width: 88px;
            font-weight: normal;
            .back-btn {
                float: left;
                padding-right: 12px;
            }
            .select-btn {
                float: right;
                .icon {
                    margin-right: 6px;
                    font-size: 22px;
                }
                
            }
            .eng-sel-btn{
                color: #fff;
                span{
                    display: inline-block;
                    // width: 60px;
                    text-align: left;
                }
            }
            span{
                display: inline-block;
                height: 100%;
            }
            .task-btn {
                display: inline-block;
                width: 44px;
                height: 44px;
                position: absolute;
                top: 2px;
                right: 46px;
                padding: 10px;
                line-height: normal;
                text-align: center;
                .icon {
                    font-size: 20px;
                    margin-right: unset;
                }
                &.all-toggle-btn {
                    right: 0px;
                    padding: 10px 0;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            .cancel-btn {
                padding-left: 3px!important;
                display: flex;
                .icon {
                    width: 44px;
                    height: 44px;
                    padding: 12px;
                }
            }
        }
        .select-box {
			position: fixed;
			left: 0;
			background: $newFirstColor;
            z-index: 100;
            min-width: calc(100% - 80px);
		}
    }
    .disk-list {
        width: 100%;
        height: 185px;
        position: relative;
        background: $newFirstColor;
        padding-top: 20px;
        .disk-title {
            color: #fff;
            text-indent: 10px;
            padding-top: 15px;
        }
        .black-bottom {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 50px;
            z-index: 1;
            background: $newThreeColor;
            width: 100%;
        }
        .disk-list-box {
            position: absolute;
            z-index: 2;
            background: transparent;
            width: 100%;
            height: 120px;
            bottom: 0;
            left: 0;
            overflow: hidden;
            overflow-x: scroll;
            .disk-ul-box {
                height: 100%;
                padding-left: 14px;
                padding-right: 14px;
                box-sizing: content-box;
            }
            li {
                width: 140px;
                height: 120px;
                float: left;
                overflow: hidden;
                background: $newFourColor;
                color: $newFiveColor;
                margin-right: 6px;
                border-radius: 3px;
                padding: 20px;
                &:last-child {
                    margin-right: 0px;
                }
                .disk-icon {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    background: url(../assets/img/disk-icon.svg) 0 0 no-repeat;
                    background-position: center center;
                    background-size: 35px 35px;
                    margin-bottom: 10px;
                }
                .disk-name {
                    color: $newFirstColor;
                    font-size: 16px;
                    line-height: 25px;
                    white-space: nowrap;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .fix-header {
        width: 100%;
        background: $bgColor;
        .eps{
            font-weight: normal;
        }
    }
    .file-num {
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        color: $newFiveColor;
        position: relative;
        .icon {
            position: absolute;
            top: 12px;
            right: 15px;
            font-size: 22px;
        }
    }
    .file-list {
		transition: all .5s ease-out;
		overflow: hidden;
        /*padding-top: 98px;*/
        // padding-bottom: 100px;
        .file-list-item {
            border-bottom: 1px solid $newThreeColor;
            padding: 16px $padding - 3px;
            overflow: hidden;
            width: 100%;
            background: $newFourColor;
            .file-thumbnail {
                width: 40px;
                height: 40px;
                float: left;                
            }
            .file-type {
                width: 40px;
                height: 40px;
            }
            .info {
                float: left;
                margin-left: 8px;
                max-width: 220px;
                h2 {
                    color: #fff;
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 23px;
                }
                p {
                    font-size: 12px;
                    color: #9B9B9B;
                    line-height: 1.3;
                }
            }
            .btn {
                float: right;
                margin-top: 12px;
                position: relative;
                .icon {
                    font-size: 18px;
                    line-height: 1;
                    &.icon-ellipsis {
                        font-size: 18px;
                        line-height: 48px;
                        color: #7F8389;
                    }
                    &.icon-right {
                        font-size: 22px;
                        right: 0;
                        margin-right: 0px;
                        color: #E9E9EA;
                    }
                    // &.light {
                    //     color: rgb(0, 199, 125);
                    // }
                }
                em {
                    display: inline-block;
                    width: 22px;
                    height: 22px;
                    background: rgba(0,0,0,0.20);
                    border: 1px solid #78777C;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                    box-sizing: border-box;
                    &.light {
                        border-color: #00a25e;
                    }
                }
            }
        }
    }
    .task-ul {
        .task-li {
            padding-left: 10px;
            border-bottom: 1px solid $newThreeColor;
            position: relative;
        }
        img {
            width: 48px;
            height: 48px;
        }
        .file-name {
            color: #fff;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 24px;

            // font-size: 18px;
            font-weight: bold;
        }
        .file-type {
            margin-right: 8px;
            overflow: hidden;
            width: 48px;
            height: 48px;
        }

        .file-info {
            color: $newFiveColor;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            line-height: 1.5;
            margin-top: 4px;
            .progress-box {
                display: inline-block;
                width: 175px;
                height: 6px;
                background: #404040;
                position: relative;
                em {
                    display: inline-block;
                    height: 6px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #00C77D;
                }
            }
            .file-down , .file-up{
                display: inline-block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 4px;
                left: 0px;
                background: url(../assets/img/newdown@2x.png) 0 0 no-repeat;
                background-size: cover;
            }
            .file-up{
                transform: rotate(180deg);
            }
        }
        
        .text-left{
            text-indent: 14px;
        }
        .speed {
            margin-right: 2px;
            position: relative;
            .amount {
                color: #9B9B9B;
                font-size: 12px;
                line-height: 36px;
                margin-right: 6px;
            }
            .light {
                border: 2px solid $newFiveColor;
            }
            .gray {
                border: 2px solid $newFiveColor;
            }
            .circle {
                width: 36px;
                height: 36px;
                border-radius: 50%;					
            }
            .error-status {
                font-size: 14px;
                color: #444;
                line-height: 36px;
            }
            .progress {
                position: relative;

                .left-circle {
                    clip: rect(auto, 18px, auto, 0);
                    position: absolute;
                    top: -2px;
                    left: -2px;
                }
                .right-circle {
                    clip: rect(auto, auto, auto, 18px);
                    position: absolute;
                    top: -2px;
                    left: -2px;
                }

                .center {
                    position: absolute;
                    background: $newThreeColor;
                    width: 32px;
                    height: 32px;
                    top: 0;
                    left: 0;
                    /* z-index: 9999; */
                    border-radius: 50%;
                    .pause {
                        width: 11px;
                        height: 14px;
                        position: absolute;
                        top: 9px;
                        left: 11px;
                        background: url(../assets/img/pause@2x.png) 0 0 no-repeat;
                        background-size: cover;
                    }					    
                    .down, .up {
                        width: 10px;
                        height: 14px;
                        position: absolute;
                        top: 9px;
                        left: 12px;
                        background: url(../assets/img/pausetrue@2x.png) 0 0 no-repeat;
                        background-size: cover;
                    }
                    // .up {
                    // 	transform: rotate(180deg);
                    // }
                }
            }
            .btn {
                float: right;
                position: relative;
                /*margin-right: 4px;*/
                width:36px;
                height: 36px;
                .icon {
                    position: absolute;
                    top: 6px;
                    left: 5px;
                    font-size: 48px;
                    line-height: 1;
                    &.icon-right {
                        font-size: 22px;
                        right: 0;
                        margin-top: 0px;
                        margin-right: 0px;
                        color: #E9E9EA;
                    }
                    &.slight {
                        color: #00C77D;
                    }
                }
            }
        }
        .bg-box {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: rgba(0,0,0,0.3);
            width: 100%;
            text-align: center;
            .content-box {
                height: 36px;
                display: inline-block;
                padding: 10px 15px;
                background: #FF3A31;
                color: #fff;
                margin: 0 auto;
                margin-top: 17px;
                border-radius: 2px;
            }
        }
    }
    .no-file {
        text-align: center;
        margin-top: 100px;
        img {
            width: 88px;
        }
        p {
            color: $newFiveColor;
            line-height: 4;
        }
    }
    .add {
        font-size: 54px;
        /*padding: $padding;*/
        position: fixed;
        right: $homePadding + 8px;
        bottom: $homePadding + 11px;
        z-index: 2;
        transition: opacity ease .2s;
        &.at-bottom {
            /*bottom: 60px;*/
            transform: translateY(-40px);
            transition: 1s ease;
        }
    }
    // .file-type-select {
    //     position: fixed;
    //     z-index: 100;
    //     background: #fff;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;

    //     .file-type-select-wrap {
    //         position: absolute;
    //         bottom: 0;
    //         width: 100%;
    //         padding: 0 $padding;
    //         height: 360px;
    //     }
    //     .title {
    //         color: #5D75F7;
    //         font-size: 17px;
    //         line-height: 1.75;
    //     }
    //     .content {
    //         color: #9B9B9B;
    //         font-size: 14px;
    //         line-height: 1.75;
    //     }
    //     .type-list {
	// 		overflow: hidden;
	// 		padding-top: 30px;
	// 		margin: 0px -18px;
    //         li {
    //             float: left;
    //             width: 25%;
    //             text-align: center;
    //             color: #1B1B1B;
    //             font-size: 14px;
    //             h2 {
    //                 font-size: 14px;
    //                 font-weight: normal;
    //                 text-align: center;
    //                 text-indent: 0;
    //                 margin-top: 9px;
    //             }
    //             .icon {
    //                 position: static;
    //                 font-size: 48px;
    //                 display: block;
    //                 margin: 0 auto;
    //             }
    //         }
    //     }
    //     .close {
    //     	font-size: 54px;
	// 	    bottom: 50px;
	// 	    position: absolute;
	// 	    right: 8px;
    //         padding: 10px;
    //         &.at-close{
    //             bottom:10px;
    //         }
    //     }
    // }

    .operation-btns {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 54px;
        z-index: 9999;
        line-height: 54px;
        text-align: center;
        overflow: hidden;
        color: #fff;
        font-weight: bold;
        background: #302F34;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        font-size: 11px;
        letter-spacing: 0.13px;
        .operation-content {
            background: $newFourColor;
            position: absolute;
            bottom: 0px;
            width: 100%;
            overflow: hidden;
        }
        .btn {
            float: left;
            width: 25%;
            height: 48px;
            position: relative;
            text-align: center;
            color: #fff;
            &.disable {
                color: #686868;
            }
            span {
                display: inline;
                vertical-align: middle;
                font-size: 11px;
                position: absolute;
                top: 11px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            .icon {
                font-size: 20px;
                display: inline-block;
                vertical-align: middle;
                position: absolute;
                top: 10px;
                left: 50%;
                transform: translate(-50%, 0);
            }
            &.file-operation {
                padding-left: 10px;
                .icon { 
                    left: unset;
                    right: 20px;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {  
    page-list {
        .file-list .file-list-item .info {
            max-width: 180px;
        }
    } 
}
