page-select-album {
    .main-content{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: $newThreeColor;
    }
    .toolbar-background {
        background: $newFourColor;
    }
    .second-content{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 100px;
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
        background: $newThreeColor;
        ul {
            border-top: .5px solid $newThreeColor;
            h4 {
                font-size: 14px;
                padding: 10px 15px;
                margin: 0;
                color: #9b9b9b;
                clear: both;
            }
            .folder-li {
                border-bottom: .5px solid $newThreeColor;
                padding: 12px $padding - 3px;
                overflow: hidden;
                background: $newFourColor;
                &.active{
                    background: #FAFAFA;
                }
                .file-type {
                    background: url(../assets/img/folder.svg) center center no-repeat;
                    &.active{
                        background: none;
                    }
                }
                .info {
                    float: left;
                    margin-left: 8px;
                    max-width: 220px;
                    height: 48px;
                    padding-top: 5px;
                    h2 {
                        color: #fff;
                        font-size: 18px;
                        font-weight: 400;
                    }
                    p {
                        font-size: 12px;
                        color: #9B9B9B;
                        line-height: 1.5;
                        margin-top: 4px;
                    }
                }
                .btn {
                    float: right;
                    /*margin-right: 4px;*/
                    .icon {
                        font-size: 48px;
                        line-height: 1;
                        &.icon-ellipsis {
                            font-size: 18px;
                            line-height: 48px;
                            height: 48px;
                            margin-right: -4px;
                            color: #AFAFAF;
                        }
                    }
                }
            }
        }
        .no-file {
            text-align: center;
            margin-top: 100px;
            img {
                width: 88px;
            }
            p {
                color: $newFiveColor;
                line-height: 4;
            }
        }
    }
    .list-header {
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
        color:#fff;
        z-index: 888;
        .back-nav {
            height: 44px;
            line-height: 44px;
            color: #fff;
            font-size: 18px;
            padding: 0 10px;
            font-weight: normal;
            .back-btn {
                float: left;
            }
            span{
                display: inline-block;
                height: 100%;
            }
        }
    }
}
