page-change-pay-password {
	.toolbar-background {
		background: $newThreeColor;
	}
	.register-content {
		background: $bgColor;
		padding: $padding;
		position: relative;
		min-height: 100%;
		.register-title {
			font-size: 27px;
			font-weight: bold;
			color: #fff;
			letter-spacing: 0;
			line-height: 38px;
		}
		.register-desc {
			margin-top: 6px;
			font-size: 14px;
			color: $newFiveColor;
			line-height: 20px;
		}
		.register-form {
			margin-top: 27px;
		}
		.form-input {
			display: block;
			height: 79px;
			margin: 0;
			.normal-input {
				border: unset;
				background: unset;
				text-indent: 0;
				padding: 10px 0;
				margin: 0;
				border-bottom: .5px solid rgba(255,255,255,0.2);
    			border-radius: unset;
				&:focus {
					color: $newFiveColor;
				}
			}
			.label-title {
				font-size: 14px;
				color: #FFFFFF;
				line-height: 20px;
			}
    		input[type="checkbox"] {
    			display: inline-block;
			    vertical-align: middle;
			    font-size: 14px;
			    color: #4A4A4A;
    		}
    		span {
    			/*display: inline-block;*/
			    vertical-align: middle;
			    color: #4A4A4A;
			    a {
			    	margin-left: 2px;
			    	text-decoration: none;
				    color: $mainColor;
				    line-height: 20px;
				}
				i{
					font-style: normal;
				}
    		}
		}
		.register-btn {
			margin-top: 44px;
		}
		.buttons {
			margin-top: 18px;
		    overflow: hidden;
		    font-size: 16px;
		    color: #4A4A4A;
		}
		.register-btn {
			margin: 143px 0px 12px;
			box-shadow: unset;
			background: $newSecondColor;
			border-radius: 4px;
		}
	}
}
