page-select-upload-folder {
    .header-ios .toolbar-background{
        border-bottom:1px solid #d9d9d9;
    }
    .header{
        .toolbar-background{
            background: #F8F8F8;
        }
    }
    .main-content{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .second-content{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 80px;
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch;
        background: $newThreeColor;
        .show-path{
            height: 35px;
            line-height: 35px;
            text-indent: 15px;
            color: $newFiveColor;
            font-size: 12px;
            p {
                width: 100%;
                overflow-x: scroll;
                span {
                    position: relative;
                    margin-right: 20px;
                    display: inline-block;
                    text-align: left;
                    text-indent: 0;
                    line-height: 35px;
                    em {
                        position: absolute;
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        top: 10px;
                        right: -17px;
                        background: url(../assets/img/Next.svg) center center no-repeat;
                        background-size: 9px;
                    }
                    &:last-child {
                        em {
                            display: none;
                        }
                    }
                }
            }
        }
        ul{
            border-top: 1px solid $newThreeColor;
            background: $newFourColor;;
            li {
                border-bottom: 1px solid $newThreeColor;
                padding: 12px $padding - 3px;
                background: $newFourColor;;
                overflow: hidden;
                &.active{
                    background: $newFourColor;;
                }
                .file-type {
                    background: url(../assets/img/folder.svg) center center no-repeat;
                }
                .info {
                    float: left;
                    margin-left: 8px;
                    max-width: 220px;
                    height: 48px;
                    line-height: 48px;
                    h2 {
                        color: #fff;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 48px;
                    }
                    p {
                        font-size: 12px;
                        color: #9B9B9B;
                        line-height: 1.5;
                        margin-top: 4px;
                    }
                }
                .btn {
                    float: right;
                    position: relative;
                    /*margin-right: 4px;*/
                    .icon {
                        font-size: 48px;
                        line-height: 1;
                        &.icon-ellipsis {
                            font-size: 32px;
                            line-height: 48px;
                            height: 48px;
                            margin-right: -4px;
                        }
                        &.icon-right {
                            font-size: 24px;
                            right: 0;
                            margin-top: 12px;
                            margin-right: 0px;
                            color: #E9E9EA;
                        }
                        &.light {
                            color: #5D75F7;
                        }
                    }
                }
            }
        }
    }
    .list-header {
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
        color:#000;
        z-index: 888;
        .back-nav {
            height: 43px;
            line-height: 44px;
            color: #5D75F7;
            font-size: 18px;
            padding: 0 10px;
            background: #f7f7f7;
            font-weight: normal;
            .back-btn {
                float: left;
            }
            span{
                display: inline-block;
                height: 100%;
            }
        }
    }
    .footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        box-sizing: border-box;
        border-top: 1px solid #d9d9d9;
        background: #F9F9F9;
        height: 61px;
        overflow: hidden;
        .left-btn{
            display: inline-block;
            width: 50px;
            box-shadow: none;
            height: 40px;
            line-height: 40px;
            background: rgba(0,0,0,0);
            font-size: 50px;
            line-height: 30px;
            overflow: hidden;
            position: absolute;
            top: 10px;
            left: 10px;
            .icon{
                margin-top: -5px;
            }
        }
        .right-btn{
            display: inline-block;
            overflow: hidden;
            width: calc(100% - 72px);
            box-shadow: none;
            height: 40px;
            line-height: 40px;
            background-color: $mainColor;
            color:#fff;
            border-radius: 4px;
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 16px;
        }
    }

}
