<!--
  Generated template for the MiningListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
      <ion-title>{{global.L("MiningReward")}}</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <ul class="reward-list" *ngIf="!loading && avenueData.length > 0">
      <li *ngFor="let avenueInfo of avenueData;">
        <p class="month">{{ avenueInfo.key }}</p>
        <div class="reward-day">
          <div class="reward-info clear" *ngFor="let dayInfo of avenueInfo.value;">
            <div class="reward-all">
              <svg class="icon fl" aria-hidden="true">
                  <use xlink:href="#icon-mining"></use>
              </svg>
              <div class="fl desc">
                <p class="tips">{{global.L("MiningReward")}}</p>
                <p class="date">{{ dayInfo.date }}</p>
              </div>
              <div class="fr reward-amount">
                <span>+{{ dayInfo.earn }}</span>
              </div>
            </div>
            <div class="see-detail"  (click)="dayInfo.showdetail = !dayInfo.showdetail;seeMiningDetailList(dayInfo)">
              <span>{{ dayInfo.showdetail ? global.L("hideDetail") : global.L("seeDetail") }}</span>
              <svg class="icon fr" aria-hidden="true" *ngIf="!dayInfo.showdetail">
                  <use xlink:href="#icon-fold"></use>
              </svg>
              <svg class="icon fr" aria-hidden="true" *ngIf="dayInfo.showdetail">
                  <use xlink:href="#icon-unfold"></use>
              </svg>
            </div>
            <div class="detail-list" *ngIf="dayInfo.showdetail">
              <div class="detail-box" *ngFor="let item of dayInfo.detaillist;">
                  <div class="fl desc">
                    <p class="date">{{ global.L("height") }}: <b>{{ item.block_number }}</b></p>
                    <p class="date">{{ global.L("timestamp") }}: <b>{{ item.timestamp }}</b></p>
                  </div>
                  <div class="fr reward-amount">
                    <span>+{{ item.earn }}</span>
                  </div>
              </div>
            </div>	                
          </div>		
        </div>
      </li>				
    </ul>
    <div class="no-avenue" *ngIf="!loading && avenueData.length === 0">
        <img src="assets/img/avenue@2x.png" alt="">
          <p>{{global.L("HaveNoRewardRecord")}}</p>
    </div>
  </ion-content>
  