<!-- 
  Generated template for the AppDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="page-box" >
        <div class="app-header">
            <div ion-item class="app-li">
                <svg class="icon app-logo" aria-hidden="true">
                    <use xlink:href="#icon-BindingUbbey"></use>
                </svg>
                <div class="info">
                    <p class="info-name eps">{{ info.title }}</p>
                    <p class="info-icon-list eps">
                            <img class="icon icon-type" *ngFor="let item of info.label" [src]="labelList[item].url">
                    </p>
                    <p class="info-Introduction eps">{{ info.summary }}</p>
                </div>
            </div>
        </div>
        <div class="app-body">
            <div class="body-info">
                <p><span>{{global.L('Type')}}</span>{{ info.type }}</p>
                <p *ngIf="info.type != 0 && info.size !=''"><span>{{global.L('Size')}}</span>{{ info.size | computeFileSize }}</p>
                <p *ngIf="info.type != 0 && info.version !=''"><span>{{global.L('Version')}}</span>{{ info.version }}</p>
                <p *ngIf="info.type != 0 && info.time !=''"><span>{{global.L('Time')}}</span>{{ info.time | computeFileTime:'/':false }}</p>
            </div>
            <div class="body-detail">
                <div *ngIf="info.updateInfo">
                    <p class="title">{{global.L('UpdateApp')}}</p>
                    <p *ngFor="let item of info.updateInfo">{{ item }}</p>
                </div>
                <div *ngIf="info.description">
                    <p class="title">{{global.L('Description')}}</p>
                    <p *ngFor="let item of info.description">{{ item }}</p>
                </div>
                <div *ngIf="info.permissions">
                    <p class="title">{{global.L('Permissions')}}</p>
                    <p *ngFor="let item of info.permissions">{{ item }}</p>
                </div>
                <div *ngIf="info.hardware">
                    <p class="title">{{global.L('Hardware')}}</p>
                    <p *ngFor="let item of info.hardware">{{ item }}</p>
                </div>
                <div *ngIf="info.developers">
                    <p class="title">{{global.L('Developers')}}</p>
                    <p *ngFor="let item of info.developers">{{ item }}</p>
                </div>
            </div>
            
        </div>
    </div>
    <div class="body-status" (click)="openApp()">
        <svg class="icon delete" aria-hidden="true" (click)="deleteUapp(info)">
            <use xlink:href="#icon-deleteicon1"></use>
        </svg>
        <span class="status-btn" *ngIf="info.type == 0 || appsInstalled.uappInstalled[info.id]">{{ global.L('Open') }} </span>
        <span class="status-btn" *ngIf="info.type != 0 && !appsInstalled.uappInstalled[info.id]">{{ global.L('Get') }} </span>
    </div>
</ion-content>
