page-mining-setting {
	$pagePadding: 10px;
	$contentPadding: 18px;
	.scroll-content {
		background: $newThreeColor;
	}
	.mining-setting-content {
		position: relative;
		padding-bottom: 100px;
		min-height: 100%;
		padding-bottom: 15px;
	    .items {
	    	overflow: hidden;
			padding: 13px $contentPadding;
			border-bottom: 1px solid #302F34;
			position: relative;
	    	label {
	    		font-size: 15px;
				color: #FFFFFF;
				letter-spacing: 0;
				line-height: 22px;
	    		.gray, span {
	    			font-size: 12px;
					color: #78777C;
				}
	    	}
	    	.toggle {
	    		margin-top: 10px;
			}
	    	.capacity {
	    		.capacity-amount {
					font-size: 14px;
					color: #FFFFFF;
				    line-height: 22px;
				    height: 22px;
				    margin-top: 11px;
	    		}
	    	}
	    	.progress-info {
				margin: 0 8px;
				.left-tips, .right-tips {
					color: #9B9B9B;
					font-size: 12px;
				}
				.range .range-bar {
					background: #404040;
					height: 4px;
				}
				.range .range-knob-handle {
					top: 22px;
				}
				.my-range-bar.range .range-knob {
					background: $newFirstColor;
				}
				.range .range-bar-active {
					height: 4px;
					background: $newFirstColor;
				}
				.range [range-left] {
					margin: 0;
				}
	    	}
	    	.change-coinbase {
	    		color: #444;
	    		font-size: 16px;
	    		line-height: 44px;
	    	}
	    	.wallet {
				padding: 12px 0;
				position: absolute;
				right: 18px;
				padding-right: 23px;
	    		.icon {
					font-size: 44px;
					position: absolute;
					right: -9px;
					top: 0;
					padding: 14px;
					color: #999;
	    		}
	    		.wallet-info {
	    			font-size: 12px;
					color: #78777C;
	    			line-height: 20px;
				}
			}
			.label{
				.icon{
					font-size: 25px;
					margin-top: 10px;
					margin-right: 5px;
				}
			}
			&.wallet-set {
				display: flex;
				
			}
			.before-line {
				position: absolute;
				bottom: 0px;
				left: 0;
				width: 18px;
				height: 1px;
				background: $newThreeColor;
			}
			
	    }
	    .save-btn-wrap {
	    	position: absolute;
	    	width: 100%;
	    	bottom: 40px;
	    	.save-btn {
				margin: 0 $padding;
				box-shadow: unset;
				background: $newSecondColor;
				border-radius: 4px;
	    	}
	    }
	}	
	.wallet-list {
		background: #302F34;
		box-shadow: 0 2px 20px 0 rgba(0,0,0,0.50);
		border-radius: 3px;
		margin: 0 10px;
		overflow: hidden;
		margin: 13px 10px;
		margin-bottom: 100px;
		.wallet-li {
			display: flex;
			padding: 10px;
    		align-items: center;
			.wallet-info {
				flex: 1;
				
				.title {
					font-size: 15px;
					color: #FFFFFF;
					line-height: 21px;
				}
				.address {
					font-size: 12px;
					color: #78777C;
					line-height: 16px;
				}
			}
			.select {
				width: 40px;
				text-align: right;
				color: $newFiveColor;
				.icon {
					font-size: 20px;
					margin-top: 6px;
					&.selected {
						color: $newFirstColor; 
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 320px) {  
    page-mining-setting .mining-setting-content{
        .items .capacity .capacity-amount {
			font-size: 16px;
		}
		.items label {
			font-size: 14px;
		}
    }
}
