<!--
  Generated template for the SelectfolderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <ion-title>
            {{ global.L('SelectFile') }}
            <div class="list-header">
                <div class="back-nav">
                    <div class="back-btn" (click)='toggleAllSelected()'>
                        <span  tappable  *ngIf="!isAllSelected">{{ global.L('SelectAll') }}</span>
                        <span  tappable  *ngIf="isAllSelected">{{ global.L('CancelSelectAll') }}</span>
                    </div>
                </div>
            </div>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="main-content">
        <div class="second-content">
            <h5>
                <span [class]="!isAllFile ? 'active' : ''"  tappable 
                    (click)="toggleAllFile(false)">{{ global.L('Unupload') }}({{unUploadedCount}})</span>
                <span [class]="isAllFile ? 'active' : ''"  tappable 
                    (click)="toggleAllFile(true)">{{ global.L('All') }}({{totalCount}})</span>
            </h5>

            <div class="bg-three">
                <ul *ngIf="fileList.length > 0">
                    <li  tappable  class="file-li" *ngFor="let info of fileList" (click)="toggleSelect(info)">
                        <div class="file-type" [ngClass]="util.computeFileType(info.fileName)">
                            <img *ngIf="info.thumbnailURL" [src]="info.thumbnailURL | photoSantizer" alt=""
                                (load)="loadImageSuccess(info)" (error)="loadImageError(info)">
                        </div>

                        <div class="info">
                            <h2 class="eps">{{ info.fileName }}</h2>
                            <p>{{ platformName == 'android' ?  (info.size | computeFileSize) : (info.creationDate | computeFileTime) }}
                            </p>
                        </div>
                        <div class="btn">
                            <em class="nochoose-circle" *ngIf="!info.isSelected"></em>
                            <svg class="icon icon-ellipsis icon-right" *ngIf="info.isSelected"
                                [ngClass]="info.isSelected == true ? 'active' : ''" aria-hidden="true">
                                <use xlink:href="#icongouxuan"></use>
                            </svg>
                        </div>
                    </li>
                </ul>
                <div class="no-file" *ngIf="fileList.length == 0">
                    <img src="assets/img/file@2x.png" alt="">
                    <p>{{global.L("NoFiles")}}</p>
                </div>
            </div>
        </div>

    </div>
    <ion-infinite-scroll (ionInfinite)="refreshFileList($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<file-footer class="footer" *ngIf="isShowFooter ? '' : 'hidden'" [canClick]="canUpload"
    (uploadFileEvent)="uploadFile()"></file-footer>
