<!-- Generated template for the BindBoxComponent component -->
<div class="float-new-box">
    <div class="back-bg"></div>
    <div class="content-main" >
      <div class="bind-info">
        <img src="assets/img/BindBitmap@2x.png" alt="">
          <p class="title">{{global.L('BindBox')}}</p>
          <p class="des">{{global.L('BindBoxInfo1')}}</p>
          <p class="des">{{global.L('BindBoxInfo2')}}</p>
      </div>
      <div class="bind-btn">
        <span class="no-bind bind-span" (click)="closeBindBoxComponent()">{{global.L('NotBind')}}</span>
        <span class="bind-span" (click)="goDeviceListPage()">{{global.L('BindImmediately')}}</span>
      </div>
      <div class="close-btn" (click)="closeBindBoxComponent()">
        <img src="assets/img/newsclose.png" alt="">
      </div>
    </div>
</div>
