<!--
  Generated template for the AdviceSubmitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{global.L("AdviceSubmit")}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content (click)="toggleShowInfo('close')">
	<form #form="ngForm" (ngSubmit)="reportFeedback()">
		<div class="items">
			<ion-label for="">{{ global.L("ProblemCategory") }}</ion-label>
			<ion-select [(ngModel)]="problemCategory" name="category" interface="popover">
			    <ion-option value="1">{{global.L("Account")}}</ion-option>
			    <ion-option value="2">{{global.L("HardwareDevice")}}</ion-option>
			    <ion-option value="3">{{global.L("Application")}}</ion-option>
			    <ion-option value="4">{{global.L("FileTransport")}}</ion-option>
			    <ion-option value="5">{{global.L("FileManager")}}</ion-option>
			    <ion-option value="6">{{global.L("UBBEY")}}</ion-option>
			    <ion-option value="0">{{global.L("Others")}}</ion-option>
			</ion-select>
		</div>

		<div class="items">
			<ion-label for="">{{ global.L("ProblemDetail") }}</ion-label>
			<textarea rows="5" maxlength="200" name="detail" [(ngModel)]="problemDetail" [placeholder]="global.L('ProblemDetailPlaceholder')"></textarea>
		</div>

		<div class="items">
			<ion-label for="">{{ global.L("ContactEmail") }}</ion-label>
			<input type="text" [(ngModel)]="contactEmail" name="contact_email" [placeholder]="global.L('ContactEmailPlaceholder')">
		</div>

		<div class="items clear">
			<ion-label for="">{{global.L('ProblemSnapshot')}}</ion-label>
			<ul *ngIf="updatedPhotos.length > 0">
				<li *ngFor="let photo of updatedPhotos">
					<img [src]="photo.url | photoSantizer" alt="">
					<svg class="icon" aria-hidden="true" (click)="removePhoto(photo)">
						<use xlink:href="#icon-transactionfailed"></use>
					</svg>
				</li>
			</ul>
			<label for="upload-btn" class="upload-label" *ngIf="updatedPhotos.length < 3">
				<svg class="icon" aria-hidden="true">
				    <use xlink:href="#icontianjiashebei1"></use>
				</svg>
				<input style="display: none;" type="file" name="upload-btn"  (change)="inputFileChange($event)" class="upload-btn" id="upload-btn" />
			</label>
		</div>

		<div class="items upload-log">
			<label (click)="toggleShowInfo('close')">
				<svg class="icon icon-select" *ngIf="!systemLogNeeded" aria-hidden="true">
					<use xlink:href="#iconweixuanzhong"></use>
				</svg>
				<svg class="icon icon-select choose-icon" *ngIf="systemLogNeeded" aria-hidden="true">
					<use xlink:href="#icondanxuan"></use>
				</svg>
				<!-- <span  for="system-log" [ngClass]="systemLogNeeded ? 'choose-span' : 'unchoose-span'"><em></em></span> -->
				<input type="checkbox" name="submitBoxLog" id="system-log" [(ngModel)]="systemLogNeeded" class="checkbox">
				<span  for="system-log">{{global.L('UploadSystemLog')}}</span>
			</label>
			<svg class="icon system-log-icon" aria-hidden="true" (click)="toggleShowInfo();$event.stopPropagation()">
				<use xlink:href="#iconDetailsicon1"></use>
			</svg>	
			<div class="system-log-box" *ngIf="isShowInfo">上传的系统日志包括版本信息、固件信息、系统时间、磁盘信息等，上传的日志受到隐私保护，只用于定位问题，不会对外泄漏。勾选此项表示您同意提供日志信息定位问题。<em></em></div>
		</div>

		<div class="btns">
			<button type="submit" class="button common-focus-button commit-feedback">{{global.L("CommitFeedback")}}</button>
		</div>		
	</form>

</ion-content>
