html,
body {
    margin: 0;
    padding: 0;
    background: $newThreeColor;
    font-family: "PingFang SC", "Helvetica", "Microsoft YaHei", Arial, sans-serif, 'Hiragino Sans GB', 'PingFang SC', 'Roboto', 'Noto';
}

* {
    -webkit-overflow-scrolling: touch;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
p {
    padding: 0;
    margin: 0;
}

.disabled {
    pointer-events: none;
}

button ion-label,
div ion-label {
    font-size: 15px;
}

.item-block {
    min-height: 3.9rem;
}

// ion-header {
//     border-bottom: .5px solid #dbdbdb;
// }

//以下是自定义全局样式
.common-focus-button {
    display: block;
    color: #fff;
    font-size: 16px;
    line-height: 44px;
    background-color: $mainColor;
    box-shadow: 0 0 10px 0 rgba(174, 187, 255, 1);
    position: relative;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.2px;

    &:active {
        background-color: $mainActiveColor;
    }

    &.no-shadow {
        box-shadow: none;
    }
}

.common-unfocus-button {
    display: block;
    width: 50%;
    color: $newFirstColor;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    box-sizing: border-box;
    background-color: #fff;
    /*box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);*/
    border-top: 1px solid #f1f1f1;
    position: relative;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.2px;

    &:active {
        color: $mainActiveColor;
    }
}

.common-general-button {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    line-height: 42px;
    height: 44px;
    color: $mainColor;
    border: 1px solid $mainColor;
    text-align: center;
    border-radius: 4px;
    position: relative;
    letter-spacing: 0.2px;

    &:active {
        &:after {
            content: "";
            display: block;
            width: 200%;
            height: 200%;
            background-color: rgba(93, 117, 247, .1);
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.borderline,
.defalutline::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 84px;
    border: 1px solid #b7b7b7;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    -ms-transform: scale(0.5, 0.5);
    -o-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    top: 0;
    left: 0;
}

.borderline {
    background: #fff;
}

.defalutline {
    position: relative;
    border: 0;
}

.defalutline::after {
    width: 200%;
    height: 200%;
    background: rgba(0, 0, 0, 0);
}

.blueline::after {
    border-color: rgba(0, 38, 244, 0.6);
}

.disabledline {
    background: #EDEDED;
}

.common-input {
    display: block;
    width: 98%;
    font-size: 16px;
    border-radius: 4px;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 1%;
    position: relative;
    z-index: 999;
}




.clear {
    &:after {
        clear: both;
        content: "";
        display: block;
    }
}

.passwd-wrap {
    position: relative;

    &.open-eye {
        .open {
            display: block;
        }

        .closed {
            display: none;
        }
    }

    &.close-eye {
        .open {
            display: none;
        }

        .closed {
            display: block;
        }
    }

    .icon {
        position: absolute;
        right: -1px;
        color: #666;
        z-index: 999;
        top: 20px;
        padding: 6px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        -webkit-text-stroke-width: 0.2px;
        font-size: 24px;
    }

    // .closed {

    // }
    // .open {

    // }

}

.error-input {
    color: red;
    font-size: 12px;
    line-height: 1;
    margin-top: 6px;
}

.form-input {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }

    .label {
        font-size: 14px;
        color: #fff;
        line-height: 20px;
    }

    .input-v2 {
        display: block;
        background: #000;
        border: none;
        border-bottom: .5px solid rgba(255, 255, 255, .3);
        padding-top: 8px;
        padding-bottom: 10px;
        width: 100%;
        font-size: 16px;
        color: $newFirstColor;
        line-height: 22px;
        border-radius: 0;
    }
}

.content {
    background: transparent;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

::-webkit-scrollbar {
    display: none;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #78777C;
}

.disabled-input {
    background: #EDEDED;
    border-color: #B7B7B7;
}

.normal-input {
    color: #333;
    border-color: #B7B7B7;

    &:focus {
        color: $newFirstColor;
        border-color: $newFirstColor;

    }

    &:focus+.borderline {
        border-color: $newFirstColor;

    }
}


.vcode {
    color: #1B1B1B;
    font-size: 16px;
    background: #E9E9EA;
    line-height: 44px;
    height: 44px;
    text-align: center;
    border-radius: 4px;
}

.qrcode {
    font-size: 22px;
    color: $newFirstColor;
}

.header-ios .toolbar-background {
    border: none;
}

.toast-error {
    width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
    word-break: break-all;
    left: 5%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.my-range-bar {
    &.range {
        padding: 0;

        .range {
            padding: 0;
        }

        .range-bar {
            height: 2px;
        }

        .range-knob {
            background: $newFirstColor;
            width: 24px;
            height: 24px;
            left: 9px;
            top: 9px;
        }
    }
}

.clear {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.toolbar-background {
    background: $bgColor;
}

.black-header .toolbar-background {
    background: #000;
}

.eps {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.item.item-block .item-inner {
    border: none;
}

.list>.item-block:last-child,
.list>.item-wrapper:last-child .item-block,
.list>.item-block:first-child {
    border: none;
}

.page-content {
    min-height: 100%;
    background: $newThreeColor;
}

.h2-title {
    color: #1B1B1B;
    line-height: 1;
    padding: 10px 12px;
    // border-bottom: .5px solid #d8d8d8;
    font-weight: bold;
    font-size: 34px;
}

.ion-header-border {
    border-bottom: .5px solid #d8d8d8;
}

.toolbar-background {
    background: $bgColor;
}

.no-data {
    text-align: center;
    margin-top: 80px;

    img {
        width: 64px;
    }

    p {
        color: $newFiveColor;
        line-height: 3;
        font-size: 12px;
    }
}

.lightbackground {
    background: rgba(93, 117, 247, .1);
}

.shadow-after {
    &:after {
        content: "";
        display: block;
        height: 8px;
        width: 100%;
        background: #dbdbdb;
        margin: 0 -10px;
        box-sizing: content-box;
        padding: 0 10px;
    }
}

.back-button-icon-ios {
    width: 0.8em;
}

.file-type {
    width: 48px;
    height: 48px;
    float: left;
    background: url(../assets/img/default.svg) center center no-repeat;
    background-size: 22px 22px;

    &.default {
        background-image: url(../assets/img/default.svg);
    }

    &.pdf {
        background-image: url(../assets/img/pdf.svg);
    }

    &.ppt {
        background-image: url(../assets/img/ppt.svg);
    }

    &.xls {
        background-image: url(../assets/img/XLS.svg);
    }

    &.video {
        background-image: url(../assets/img/video.svg);
    }

    &.image {
        background-image: url(../assets/img/image.svg);
    }

    &.folder {
        background-image: url(../assets/img/folder.svg);
    }

    &.doc {
        background-image: url(../assets/img/doc.svg);
    }

    &.zip {
        background-image: url(../assets/img/archive.svg);
    }

    &.music {
        background-image: url(../assets/img/music.svg);
    }

    &.txt {
        background-image: url(../assets/img/txt.svg);
    }

    &.torrent {
        background-image: url(../assets/img/torrent.svg);
    }
}

.blank-height-50 {
    width: 100%;
    clear: both;
    height: 50px;
}

.toolbar-background {
    background: $newFirstColor;
}

.toolbar-title {
    color: #fff;
    text-align: left;

    // height: 54px!important;
    // line-height: 54px!important;
    div {
        height: 100%;
        // line-height: 54px;
    }
}

.button-effect {
    color: #fff;
}

.bar-button-default-ios,
.bar-button-default.bar-button-ios-default,
.bar-button-clear-ios-default {
    color: #fff;
}

.toolbar {
    // height: 54px!important;
    padding: 0 4px;
    // line-height: 54!important;
    position: relative;
}

.toolbar ion-title {
    padding-left: 40px;
}

// .toolbar-ios ion-title {
//     padding: 7px 40px 0px;
//     // height: 50px;
// }

// .toolbar-content-ios {
//     height: 50px;
//     line-height: 50px;
//     vertical-align: middle;
//     align-items:center;
// }
// .title-ios ,.toolbar-title-ios,.toolbar-title-ios>div{
//     vertical-align: middle;
// }
// .toolbar-title-ios>div{
//     line-height: 40px;
// }

.ubbey-alert-class {
    align-items: center !important;
    padding-top: 0 !important;

    .alert-wrapper {
        background: $newFourColor;
        text-align: left;
        border-radius: 4px;

        .alert-head {
            text-align: left;
            color: #fff;
            font-size: 18px;
            margin-bottom: 18px;

            .alert-title {
                font-weight: 500;
            }
        }

        .alert-input {
            background: $newFourColor;
            border-color: $newFourColor;
            border-bottom-color: $newFirstColor;
            border-radius: 0;
            color: #fff;

            &:-moz-placeholder,
            &:-ms-input-placeholder,
            &::-webkit-input-placeholder {
                color: #fff;
            }
        }

        .alert-message {
            padding-bottom: 10px;
            color: #fff;
            font-size: 15px;
            text-align: left;
        }

        .alert-button-group {
            text-align: right;
            flex-direction: row-reverse;
        }

        .alert-button {
            color: $newFirstColor;
            border: unset;
            text-align: right;
            margin-left: 14px;
            flex: unset;
            min-width: unset;
            -webkit-flex: unset;
            -webkit-box-flex: unset;

            &:last-child {
                color: $newFiveColor;
            }

            .button-inner {
                justify-content: flex-end;
                padding-right: 10px;
                font-weight: normal;
            }
        }

        .alert-checkbox-group {
            border-top: unset;

            .alert-checkbox-label {
                color: $newFiveColor;
                padding: 10px;
            }
        }

        .alert-checkbox-icon {
            width: 22px;
            height: 22px;
            background: #302F34;
            border: 2px solid #78777C;
            margin: 7px 6px 7px 16px;
        }

        .alert-tappable {
            min-height: 40px;
        }

        [aria-checked=true] .alert-checkbox-icon {
            border: 2px solid #00C77D;

            .alert-checkbox-inner {
                border: unset;
                width: 10px;
                height: 10px;
                background: #00C77D;
                border-radius: 50%;
                left: 4px;
                top: 4px;
            }
        }
    }

    .alert-button.activated {
        background-color: unset;
    }

    .order-2 {
        order: 2;
        color: #00C77D !important;
    }

    .order-3 {
        order: 3;
        color: #78777C !important;
    }
}

ion-infinite-scroll {
    background: $newThreeColor;
}

.select-tollbar {
    .toolbar-background {
        background: #302F34;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.40);
    }
}

.home-title-box {
    text-align: center;
    position: relative;
    overflow: unset;
    height: 48px !important;
    line-height: 46px !important;
    margin-left: 60px;

    .list-point {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 100;
        transform: translate(-50%, 0);
        overflow: hidden;
        height: 9px;
        line-height: 0px;

        span {
            display: inline-block;
            float: left;
            width: 5px;
            height: 5px;
            margin-right: 3px;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50%;

            &.active {
                background: #fff;
            }
        }
    }
}

.form-content {
    background: #000;
    padding: $padding;
    min-height: 100%;

    .form-title {
        font-size: 27px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.41px;
        line-height: 37px;
        margin-top: 19px;
    }

    .form-desc {
        margin-top: 12px;
        font-size: 14px;
        color: rgba(255, 255, 255, .6);
        line-height: 20px;
    }

    .form-form {
        margin-top: 33px;
    }
}

.form-area {
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background: #0D0D0D;
    bottom: 0;
    left: 0;

    .second-btn {
        font-size: 13px;
        color: #fff;
        line-height: 80px;
        display: inline-block;
    }

    .main-btn {
        position: absolute;
        top: 21px;
        right: 20px;
        height: 38px;
        line-height: 36px;
        border: .5px solid #fff;
        border-radius: 20px;
        padding: 0 26px;
        color: #fff;
        font-size: 13px;
        background: transparent;
    }
}

.popover-arrow {
    display: none !important;
}

.popover-ios .popover-content,
.popover-android .popover-content,
.popover-content {
    width: calc(100% - 36px);
    left: 18px !important;
    background: $newFourColor;
    border-radius: 4px;

    .item {
        background: $newFourColor;
        color: $newFiveColor;

        ion-label {
            font-size: 14px;
        }
    }

    .radio-checked .radio-inner {
        border: unset;
    }

    .item-radio-checked ion-label {
        color: #fff;
    }

}

.toggle {
    .toggle-icon {
        background: unset !important;
    }

    .toggle-icon::before {
        top: 6px;
        bottom: 6px;
        background: rgba(255, 255, 255, 0.10);
        -webkit-transform: unset;
        transform: unset;
    }

    .toggle-inner {
        background-image: linear-gradient(-180deg, #9D9D9D 0%, #7C7C7C 100%);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.50), inset 0 0 0 0 rgba(255, 255, 255, 0.20);
    }

    &.toggle-checked {
        .toggle-inner {
            background-image: linear-gradient(-180deg, #00E58E 0%, #05BC78 100%);
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.50), inset 0 0 0 0 rgba(255, 255, 255, 0.50);
        }

        .toggle-icon::before {
            -webkit-transform: unset;
            transform: unset;
            background: rgba(3, 202, 127, 0.10);
        }
    }
}

.loading-wrapper {
    color: #fff !important;
    background: rgba(0, 0, 0, 0.8) !important;

}

.no-box-body {
    .toolbar-background {
        background: $newSecondColor;
    }
}

.no-file {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -80px;

    img {
        width: 44px;
    }

    p {
        color: $newFiveColor;
        font-size: 14px;
        line-height: 36px;
    }
}

.ion-ios-arrow-round-back:before {
    font-weight: 600;
}

// .file-thumbnail {
//     width: 40px;
//     height: 40px;
//     background-position: center center;
//     background-size: cover;
//     background-repeat: no-repeat;              
// } 
.back-button-icon {
    background: url(../assets/img/fanhui.png) center center no-repeat;
    background-color: transparent;
    background-size: 20px auto;
}

.back-button-icon::before {
    content: '';
}

.ios .menu-inner {
    background: $newThreeColor;
}
