page-device-management {
	.device-management-content {
		.title {
			color: #1B1B1B;
			line-height: 40px;
			padding: 10px $padding;
			border-bottom: 1px solid #d8d8d8;
			font-weight: bold;
		}
		.no-device {
			text-align: center;
    		margin-top: 80px;
    		img {
    			width: 88px;
    		}
    		p {
    			color: #5D75F7;
    			line-height: 4;
    		}
		}
		.device-info {
			position: relative;
			margin: 16px $padding 0;
			border: 1px solid #d8d8d8;
			border-radius: 4px;
			box-shadow: 0 0 5px #e8e8e8;
			background: #fff;
			overflow: hidden;
			.select-icon {
				display: none;
			}
			&.selected {
				border-color: #5D75F7;
				.select-icon {
					position: absolute;
					display: block;
					width: 32px;
					height: 32px;
					right: 0;
					top: 0;
				}
			}
			.top-area {
				margin: 14px 14px 0;
				border-bottom: 1px solid #f8f8f8;
				.device {
					position: relative;
					width: 44px;
					height: 44px;
					.icon-wrap {
						width: 44px;
						height: 44px;
						border-radius: 4px;
						overflow: hidden;
						background: #DFE3FD;
						.icon {
							font-size: 24px;
							margin: 10px;
						}						
					}
					p {
						color: #fff;
						position: absolute;
						bottom: 0;
						width: 100%;
						text-align: center;
						font-size: 10px;
						line-height: 14px;
						height: 14px;
						background: #F5A623;
						border-bottom-left-radius: 4px;
						border-bottom-right-radius: 4px;
					}
				}
				.info {
					margin-left: 12px;
					padding-bottom: 16px;
					width: calc(100% - 56px);
					.name {
						color: #000;
						font-size: 20px;
						line-height: 24px;
						font-weight: bold;
					}
					.wallet {
						color: #999;
						font-size: 12px;
						line-height: 14px;
						margin-top: 6px;
						max-width: 220px;
					}
				}
			}
			.disk-info {
				text-align: center;
				border-bottom: 1px solid #d8d8d8;
				.disk {
					width: 50%;
					padding: 10px 0;
					.key {
						color: #9B9B9B;
						font-size: 14px;
						line-height: 20px;
					}
					.value {
						color: #444;
						font-size: 18px;
						font-weight: bold;
						line-height: 1;
						margin-top: 4px;
					}
				}
			}
			.btns {
				padding: 8px 0;
				background: #FAFAFA;
				color: #444;
				text-align: center;
				.btn {
					width: 50%;
					border-right: 1px solid #d8d8d8;
					height: 28px;
					line-height: 28px;
					&:last-child {
						border: none;
					}
				}
			}
		}
	}
}
