<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="user-page">
	<div class="message" (click)="goNoticePage()">
		<svg class="icon" aria-hidden="true"  *ngIf="!isShowNotice" end>
				<use xlink:href="#icon-MessageCenter"></use>
		</svg>
		<svg class="icon" aria-hidden="true" *ngIf="isShowNotice" end>
				<use xlink:href="#icon-MessageCenter-red"></use>
		</svg>
	</div>
	<div class="avatar-info">
		<div class="info">
			<div class="img-wrap" (click)="goLoginPage(true)">
				<img src="assets/img/avatar@2x.png" alt="">
			</div>
			<p *ngIf="global.centerUserInfo.uname">{{ global.centerUserInfo.uname }}</p>
			<p *ngIf="!global.centerUserInfo.uname" (click)="goLoginPage(true)">{{ global.L('LoginBtn') }}</p>
		</div>
		<div class="admin">
			<div class="admin-wrap clear">
				<div class="wallet fl" tappable (click)="goWalletSelectPage()">
					<svg class="icon" aria-hidden="true" end>
				        <use xlink:href="#icon-qianbaoguanli"></use>
				    </svg>
				    <p>{{global.L("WalletManagement")}}</p>
				</div>			

				<div class="wallet fl" tappable (click)="goDeviceManagementPage()">
					<svg class="icon" aria-hidden="true" end>
				        <use xlink:href="#icon-shebeiguanli"></use>
				    </svg>
				    <p>{{global.L("DeviceManagement")}}</p>
				</div>				
			</div>
		</div>
	</div>

	<div class="function-list">
		<button ion-item (click)="goChangePasswdPage()">
			{{global.L("ModifyPassword")}}
		</button>			
		<button ion-item (click)="goSystemSettingPage()">
			{{global.L("System")}}
		</button>
	</div>		

	<div class="function-list">
		<button ion-item (click)="goUpdatePage()">
	      {{global.L("UpdateAssistant")}}
	    </button>				
	    <button ion-item (click)="goAboutUsPage()">
	      {{global.L("AboutUs")}}
	    </button>		    
	    <button ion-item (click)="goAdvicePage()">
	      {{global.L("AdviceSubmit")}}
	    </button>		    
	</div> 

	<div class="function-list" *ngIf="!!global.centerUserInfo.uname">	    
	    <div class="log-out" ion-item click-and-wait (click)="logoutSystem()">
	      {{global.L("ExitLogin")}}
	    </div>
	</div> 	
  </div>
</ion-content>
