page-wallet-generator {
	.toolbar-background {
		background: $newThreeColor;
	}
	.toolbar ion-title {
		padding: 0 20px 1px;
	}
	.toolbar-title {
		text-align: right;
	}
	.wallet-content {
		background: $newThreeColor;
		padding: 12px 20px;
		min-height: 100%;
		.register-title {
			font-size: 27px;
			font-weight: bold;
			color: #fff;
			letter-spacing: 0;
			line-height: 38px;
		}
		.register-desc {
			margin-top: 6px;
			font-size: 14px;
			color: $newFiveColor;
			line-height: 20px;
		}
		.register-form {
			margin-top: 27px;
		}
		.form-input {
			display: block;
			height: 79px;
			margin: 0;
			.normal-input {
				border: unset;
				background: unset;
				text-indent: 0;
				padding: 10px 0;
				margin: 0;
				border-bottom: .5px solid rgba(255,255,255,0.2);
    			border-radius: unset;
				&:focus {
					color: $newFiveColor;
				}
			}
			.label-title {
				font-size: 14px;
				color: #FFFFFF;
				line-height: 20px;
			}
		}
		.terms {
			display: block;
			margin-top: 23px;
			position: relative;
			display: flex;
			.icon {
				font-size: 22px;
				color: $newFiveColor;
				margin-right: 5px;
				&.choose-icon {
					color: $newFirstColor;
				}
			}
    		input[type="checkbox"] {
    			opacity: 0;
				position: absolute;
    		}
    		span {
    			/*display: inline-block;*/
			    /*vertical-align: middle;*/
				color: $newFiveColor;
				line-height: 22px;
			    a {
			    	margin-left: 2px;
			    	text-decoration: none;
				    color: #fff;
			    }
    		}
		}
		.create-btn {
			margin: 120px 0px 0px;
			box-shadow: unset;
			background: $newSecondColor;
			border-radius: 4px;
		}
	}
}
