page-wallet-generator {
	.wallet-content {
		background: $bgColor;
		padding: $padding;
		min-height: 100%;
		.register-title {
			font-size: 34px;
			font-weight: bold;
			color: #1B1B1B;
			letter-spacing: 0.41px;
			line-height: 41px;
			margin-top: 26px - $padding;
		}
		.register-desc {
			margin-top: 6px;
			font-size: 14px;
			color: #4A4A4A;
			line-height: 22px;
		}
		.register-form {
			margin-top: 27px;
		}
		.terms {
			display: block;
    		margin-top: 23px;
    		input[type="checkbox"] {
    			display: inline-block;
			    vertical-align: middle;
			    font-size: 14px;
			    color: #4A4A4A;
    		}
    		span {
    			/*display: inline-block;*/
			    /*vertical-align: middle;*/
			    color: #4A4A4A;
			    a {
			    	margin-left: 2px;
			    	text-decoration: none;
				    color: $mainColor;
				    line-height: 20px;
			    }
    		}
		}
		.create-btn {
			margin-top: 44px;
			margin-bottom: 15px;
		}
	}
}
