<!--
  Generated template for the BtDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>资源详情
            
        </ion-title>
        <svg class="icon icon-ellipsis" (click)="goBtTaskPage()" aria-hidden="true">
            <use xlink:href="#iconBTxiazaiguanli"></use>
        </svg>
    </ion-navbar>

</ion-header>
<ion-content>
    <div class="head-detail-img" *ngIf="titleImgList.length > 0">
        <div class="head-img-box"> 
            <ion-slides spaceBetween="-30px">
                <ion-slide *ngFor="let img of titleImgList">
                    <div class="img-box">
                        <img [src]="img" alt="">
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
    <div class="detail-title">
        <p class="p-title">{{ title }}</p>
        <p>{{ size }}<span>共下载：{{ heat }}</span></p>
        <div class="link-box" ion-item>
            <div class="left-link-box" item-start>{{ link }}</div>
            <div class="right-link-box" item-end>
                <svg class="icon icon-ellipsis" (click)="copyLink()" aria-hidden="true">
                    <use xlink:href="#iconcopy1"></use>
                </svg>
            </div>
        </div>
    </div>
    <div class="detail-info">
        
        <div class="info-box">
            <p class="second-title">简介</p>
            <div class="detail-list">
                <p *ngIf="createdTime != ''">创建时间<span>{{ createdTime | computeFileTime }}</span></p>
                <p *ngIf="fileType != ''">文件格式<span>{{ fileType }}</span></p>
                <p *ngIf="file_number != ''">文件数<span>{{ file_number }}</span></p>
                <p *ngIf="btNum != ''">种子数<span>{{ btNum }}</span></p>
                <p *ngIf="hash != ''">文件hash<span>{{ hash }}</span></p>
            </div>
            <p class="second-title" *ngIf="detailDesc != ''">描述</p>
            <div class="detail-des" *ngIf="detailDesc != ''">
                <div [innerHTML]="detailDesc" class="desc-box" [ngClass]="isShowDesc ? 'show-more' : ''"></div>
                <div class="see-more" (click)="toggleShowDesc()">{{ isShowDesc ? '收起更多' : '查看更多' }}</div>
            </div>
            <p class="second-title" *ngIf="desImgList.length > 0">相关图片</p>
            <div class="img-list-box" *ngIf="desImgList.length > 0">
                <p>
                    <img [src]="file"  *ngFor="let file of desImgList" alt="">
                </p>
            </div>
            <p class="second-title" *ngIf="fileList.length > 0">文件列表</p>
            <div class="file-list-box" *ngIf="fileList.length > 0">
                <ul class="file-list">
                    <li class="file-list-item" *ngFor="let file of fileList" tappable>
                        <div class="file-type" [ngClass]="file.style"></div>
                        <div class="info">
                            <h2 class="eps">{{ file.name }}</h2>
						</div>
						<div class="file-list" *ngIf="file.children && file.children.length > 0">
							<div class="file-list-item sub-file-list-item" *ngFor="let f of file.children" tappable>
								<div class="file-split"></div>
								<div class="file-type" [ngClass]="f.style"></div>
								<div class="info">
									<h2 class="eps">{{ f.name }}</h2>
								</div>
							</div>							
						</div>
                    </li>
                </ul>
            </div>
            <div class="download-btn" (click)="downloadBt()">下载</div>
        </div>
    </div>
</ion-content>
