page-bt-detail {
    .toolbar-background {
        background: $newFirstColor;
    }
    .toolbar {
        .icon-ellipsis {
            float: right;
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .scroll-content {
        background: $newThreeColor;
        color: #fff;
    }
    .main-content{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: $newThreeColor;
        overflow-y: scroll;
        padding-bottom: 20px;
    }
    .qrcode-button {
        padding: 1px 0;
        position: absolute;
        top: 0;
        z-index: 9;
        color: #fff;
        height: 44px;
        width: 100%;
        background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
        display: flex;
        align-items: center;
        .icon  {
            font-size: 40px;
            color: #fff;
            padding: 10px;
            position: absolute;
            &.back-icon {
                left: 0;
            }
            &.icon-ellipsis {
                right: 0px;
            }
        }
    }
    .mar-top-46 {
        margin-top: 46px;
    }
    .detail-title {
        padding: 10px;
        padding-top: 17px;
        padding-bottom: 0;
        &.detail-img-title {
            padding-bottom: 10px;
            background: linear-gradient( rgba(0,0,0,0),#222126);
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        p {
            font-size: 12px;         
            color: $newFiveColor;  
            letter-spacing: 0;
            line-height: 22px;
            span {
                float: right;
                padding-right: 3px;
            } 
            &.p-title {
                font-size: 16px;
                margin-bottom: 5px;
                line-height: 24px;
                overflow: hidden;
                color: #fff;
                text-overflow: ellipsis;
                display:-webkit-box;
                -webkit-box-orient:vertical; 
                -webkit-line-clamp:2;
            }
        }
        .link-box {
            background: $newFourColor;
            color: #fff;
            margin: 10px 0;
            padding: 8px 13px;
            box-shadow: 0 0 0 0 #1D1D1F, 0 0 0 0 #1D1D1F;
            border-radius: 3px;
            margin-top: 13px;
            margin-bottom: 0;
            .left-link-box {
                width: calc(100% - 40px);
                overflow: hidden;
                font-size: 12px;
                text-overflow: ellipsis;
                display:-webkit-box;
                -webkit-box-orient:vertical; 
                -webkit-line-clamp:3;
                overflow: hidden;
                word-wrap: break-word;
                letter-spacing: 0;
                line-height: 16px;
                margin: 0;
            }
            .item-inner {
                padding-right: 0;
            }
            .right-link-box {
                margin: 0;
                .icon {
                    font-size: 22px;
                    color: $newFiveColor;
                }
            }
        }
    }
    .detail-info {
        padding: 10px;
        padding-top: 0;
        padding-bottom: 50px;
        .second-title {
            color: $newFiveColor;
            font-size: 16px;
            line-height: 44px;
            font-weight: 500;
            margin-top: 8px;
        }
        .download-box-btn {
            overflow: hidden;
            span {
                display: inline-block;
                width: 50%;
                background: #ddd;
                height: 40px;
                line-height: 40px;
                float: right;
                text-align: center;
            }
        }
        .info-box {
            font-size: 14px;
            position: relative;
        }
        .detail-list {
            padding: 10px;
            border-radius: 3px;
            background: $newFourColor;
            font-size: 12px;
            color: $newFiveColor;
            p {
                line-height: 24px;
                overflow: hidden;
                &:last-child {
                    padding-bottom: 0;
                }
                span {
                    color: #fff;
                    display: inline-block;
                    width: 73%;
                    float: right;
                    text-align: left;
                }
            }
        }
        .detail-des {
            p {
                &.p-title {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .see-more {
                width: 100%;
                height: 36px;
                background: $newFourColor;
                color: #fff;
                border-radius: 3px;
                overflow: hidden;
                text-align: center;
                line-height: 36px;
                margin: 10px 0;
            }
            .desc-box {
                width: 100%;
                max-height: 200px;
                overflow: hidden;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                &.show-more {
                    max-height: unset;
                    -webkit-line-clamp: unset;
                }
            }
        }
        .img-list-box {
            width: 100%;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }
        .p-imglist {
            white-space: nowrap;
            width: 100%;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            padding-top: 10px;
            padding-bottom: 4px;
            span {
                width: calc(33.33% - 4px);
                margin-right: 4px;
                border-radius: 2px;
                box-sizing: border-box;
                display: inline-block;
                max-height: 80px;
                min-height: 80px;
                background-position: center center;
                background-size: cover;
                background-color: $newThreeColor;
                &:last-child {
                    width: 33%;
                    margin-right: 0px;
                }
                img {
                    width: 100%;
                    max-height: 100%;
                    min-height: 100%;
                    min-width: 100%;
                    display: block;
                }
            }
            @media screen and (max-width: 320px) {
                span {
                    max-height: 69px;
                    min-height: 69px;
                }
            }
        }
        
    }
    .head-detail-img {
        width: 100%;
        background: $newThreeColor;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .head-img-box {
        width: 100%;
        margin: 0 auto;
        .slides {
            width: 100%;
            margin: 0 auto;
            float: left;
        }
        .swiper-slide {
            width: 100%;
        }
        .img-box {
            width: 100%;
            margin: 0 auto;
            border-radius: 0px;
            overflow: hidden;
            max-height: 280px;
            display: flex;
            align-items: center;
            img {
                width: 100%;
                display: block;
            }
        }
        .swiper-container {
            overflow: visible;
        }
        .swiper-slide-active {
            width: 100%;
            z-index: 9;
            .img-box {
                width: 100%;
            }
        }
	}
	.file-type {
		width: 22px;
		height: 22px;
	}
    .file-list-box {
        padding: 10px 20px;
        border-radius: 3px;
        overflow: hidden;
        background: $newFourColor;
        .file-list-item {
			position: relative;

			&.sub-file-list-item {
				margin-top: 14px;
				padding-left: 11px;
				&:before {
					content: '';
					width: 1px;
					height: 36px;
					background: #979797;
					position: absolute;
					top: -25px;
					left: 11px;
				}
				&:first-child {
					margin-top: 21px;
					&:before {
						height: 32px;
						top: -21px;
					}
				}
				.info {
					padding-left: 38px;
				}
			}

			.file-split {
				width: 10px;
				background: #979797;
				height: 1px;
				margin-top: 10px;
				float: left;
			}
            // display: flex;
            // justify-content: center;
			// align-items: center;
			.info {
				height: 22px;
				padding-left: 28px;
			}
            h2 {
                font-size: 12px;
				font-weight: 500;
				line-height: 22px;
            }
        }
    }
    .download-btn-box {
        height: 72px;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient( rgba(0,0,0,0),rgba(0,0,0,0.6));
    }
    .download-btn {
        width: calc(100% - 20px);
        height: 40px;
        text-align: center;
        background: #F35530;
        border-radius: 3px;
        line-height: 40px;
        color: #fff;
        font-size: 16px;
        position: absolute;
        left: 10px;
        bottom: 12px;
    }
}
