page-bt-detail {
    .toolbar-background {
        background: $newFirstColor;
    }
    .toolbar {
        .icon-ellipsis {
            float: right;
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .scroll-content {
        background: $newThreeColor;
        color: #fff;
    }
    .detail-title {
        padding: 10px;
        p {
            font-size: 12px;         
            color: $newFiveColor;  
            span {
                float: right;
                padding-right: 3px;
            } 
            &.p-title {
                font-size: 16px;
                margin-bottom: 5px;
                line-height: 24px;
                overflow: hidden;
                color: #fff;
                text-overflow: ellipsis;
                display:-webkit-box;
                -webkit-box-orient:vertical; 
                -webkit-line-clamp:2;
            }
        }
        .link-box {
            background: $newFourColor;
            color: #fff;
            margin: 10px 0;
            padding: 10px;
            border-radius: 2px;
            .left-link-box {
                width: calc(100% - 40px);
                overflow: hidden;
                font-size: 12px;
                text-overflow: ellipsis;
                display:-webkit-box;
                -webkit-box-orient:vertical; 
                -webkit-line-clamp:3;
                overflow: hidden;
                word-wrap: break-word;
            }
            .item-inner {
                padding-right: 0;
            }
            .right-link-box {
                margin: 0;
                .icon {
                    font-size: 22px;
                    color: $newFiveColor;
                }
            }
        }
    }
    .detail-info {
        padding: 10px;
        .second-title {
            color: $newFiveColor;
            font-size: 16px;
            line-height: 44px;
            font-weight: 500;
        }
        .download-box-btn {
            overflow: hidden;
            span {
                display: inline-block;
                width: 50%;
                background: #ddd;
                height: 40px;
                line-height: 40px;
                float: right;
                text-align: center;
            }
        }
        .info-box {
            font-size: 14px;
            position: relative;
        }
        .detail-list {
            padding: 10px;
            border-radius: 2px;
            background: $newFourColor;
            font-size: 12px;
            color: $newFiveColor;
            p {
                line-height: 20px;
                overflow: hidden;
                padding-bottom: 5px;
                &:last-child {
                    padding-bottom: 0;
                }
                span {
                    color: #fff;
                    display: inline-block;
                    width: 80%;
                    float: right;
                    text-align: left;
                }
            }
        }
        .detail-des {
            p {
                &.p-title {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
            .see-more {
                width: 100%;
                height: 36px;
                background: $newFourColor;
                color: #fff;
                border-radius: 2px;
                overflow: hidden;
                text-align: center;
                line-height: 36px;
                margin: 10px 0;
            }
            .desc-box {
                width: 100%;
                max-height: 200px;
                overflow: hidden;
                &.show-more {
                    max-height: unset;
                }
            }
        }
        .img-list-box {
            overflow-x: auto;
            white-space: nowrap;
            p {
                overflow-y: hidden;
            }
            img {
                width: 34%;
                overflow: hidden;
                margin-right: 10px;
                border-radius: 2px;
            }
        }
        .download-btn {
            width: calc(100% - 20px);
            margin: 10px auto;
            height: 40px;
            text-align: center;
            background: $newSecondColor;
            border-radius: 4px;
            line-height: 40px;
            color: #fff;
            font-size: 16px;
        }
    }
    .head-detail-img {
        width: 100%;
        background: $newFirstColor;
        overflow: hidden;
        padding: 15px 0;
    }
    .head-img-box {
        width: 45%;
        margin: 0 auto;
        height: 220px;
        padding: 20px 0;
        .slides {
            width: 100%;
            margin: 0 auto;
            float: left;
        }
        .swiper-slide {
            width: 80%;
        }
        .img-box {
            width: 80%;
            margin: 0 auto;
        }
        .swiper-container {
            overflow: visible;
        }
        .swiper-slide-active {
            width: 100%;
            z-index: 9;
            .img-box {
                width: 100%;
            }
        }
    }
    .file-list-box {
        padding: 10px 20px;
        border-radius: 2px;
        overflow: hidden;
        background: $newFourColor;
        .file-list-item {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 12px;
                font-weight: 500;
            }
        }
    }
}
