<ion-content tappable (click)="toggleTitle()">
    <div class="qrcode-button" *ngIf="isShowTitle" (click)="$event.stopPropagation();">
        <div class="back-box" (click)="goBack();$event.stopPropagation();">
            <svg class="icon back-icon" aria-hidden="true">
                <use xlink:href="#iconfanhui"></use>
            </svg>
        </div>
        <span>{{ imageName }}</span>
    </div>
    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let info of fileList">
            <img [src]="(info.photo || info.thumbnail) | photoSantizer">
        </ion-slide>
    </ion-slides>
    
</ion-content>
<file-detail *ngIf="isShowTitle" (closeDetailBox)="toggleTitle()" [path]='currPath' (goDetailPage)="goDetailPage()" citePage="preview" (goPop)="goBack()" [info]="imageInfo"></file-detail>
    