<ion-header class="my-header">
    <ion-navbar>
        <ion-title>
            <div class="wallet-wrapper" (click)="toggleShowWalletList(true)">
                <p>{{ walletInfo.name || global.L("CreateNewWallet") }}</p>
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#iconxiala"></use>
                </svg>
            </div>
        </ion-title>
        <div class="set-btn-wrap" (click)="goWalletSettingPage()">
            <img class="set-btn" src="assets/img/setting@2x.png" alt="">
        </div>
    </ion-navbar>
</ion-header>
<div class="blue-bg"></div>

<ion-content no-padding overflow-scroll="true" (click)="closeWalletDisplay()" class="my-content">
    <ion-refresher snapbackDuration="300" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="{{global.L('wallatPullingText')}}"
            refreshingSpinner="circles" refreshingText="{{global.L('wallatRefreshingText')}}">
        </ion-refresher-content>
    </ion-refresher>

    <div class="wallet-assets">
        <div class="wallet-value">
            <p class="key">{{global.L("TotalAssets")}}(UBBEY)</p>
            <p class="value">{{ walletInfo.totalEarn || '--' }}</p>
        </div>

        <div class="assets-info clear">
            <div class="assets fl">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#iconshizhi"></use>
                </svg>
                <p class="value"><span>{{ rateInfo.symbol }}</span>{{ evaluteWealth() }}</p>
                <p class="key">{{global.L("TotalValue")}}({{ rateInfo.curreycy }})</p>
            </div>
            <div class="assets fl">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#iconleijiwakuang1"></use>
                </svg>
                <p class="value">{{ walletInfo.totalMining || '--' }}</p>
                <p class="key">{{global.L("CumulativeDig")}}(UBBEY)</p>
            </div>
        </div>
    </div>

    <div class="trade-list">
        <p class="title erc20Title">{{global.L("RecentTransactionRecords")}}</p>
        <ul class="trade-ul" *ngIf="(recordList.length > 0 || walletInfo.earn_this_month > 0)">
            <li class="gray" *ngIf="walletInfo.earn_this_month > 0">
                <img class="fl" src="assets/img/daijiesuo.svg" alt="">
                <div class="trade-info clear">
                    <div class="trade-desc fl">
                        <p class="trade-type">{{global.L("MiningReward")}}</p>
                        <p class="trade-date">{{global.L("WaitUnlock")}}</p>
                    </div>
                    <p class="trade-amount fr">
                        +{{ walletInfo.earn_this_month }} UBBEY
                    </p>
                </div>
            </li>
            <li class="" *ngFor="let list of recordList" (click)="goTransactionPage(list)">
                <img class="fl" *ngIf="list.value > 0" src="assets/img/zhuanru.svg" alt="">
                <img class="fl" *ngIf="list.value < 0" src="assets/img/zhuanchu.svg" alt="">
                <div class="trade-info clear">
                    <div class="trade-desc fl">
                        <p class="trade-type">{{ list.displayAddr }}</p>
                        <p class="trade-date">{{ list.displayTime }}</p>
                    </div>
                    <div class="trade-amount fr"
                        [ngClass]="list.status === 1 || list.status === 3 || list.status === 5 ? 'error' : ''">
                        <p class="eps" [ngClass]="list.value < 0 ? 'red' : ''">{{ list.value }} UBBEY</p>
                        <span
                            *ngIf="list.status === 1 || list.status === 3 || list.status === 5">{{ list.displayStatus }}</span>
                    </div>
                </div>
            </li>
        </ul>
        <p class="no-more" *ngIf="recordList.length > 0 && more === false && loading === false">
            {{global.L("NoMoreData")}}</p>

        <div class="no-data" *ngIf="!loading && (recordList.length === 0)">
            <img src="assets/img/file@2x.png" alt="">
            <p>{{global.L("HaveNoRewardRecord")}}</p>
        </div>
    </div>

    <ion-infinite-scroll (ionInfinite)="getMore($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<div class="wallet-create">
    <div class="wallet-create-wrapper">
        <span class="common-unfocus-button get-ubbey-btn"  tappable 
            (click)="getUbbey()">{{global.L("Collection")}}</span>
        <span class="common-focus-button send-ubbey-btn"  tappable  (click)="sendUbbey()">{{global.L("Transfer")}}</span>
    </div>

</div>

<div class="wallat-select-box" *ngIf="isShowWalletList">
    <div class="wallet-bg" (click)="toggleShowWalletList(false)"></div>
    <div class="wallat-list-box">
        <ul *ngIf="global.walletList.length > 0">
            <li *ngFor="let wallet of global.walletList" (click)="slideWallet(wallet)">{{ wallet.name }}</li>
        </ul>
        <div class="add-new-wallat" *ngIf="global.walletList.length < 3" (click)="goWalletGeneratorPage()">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icontianjiashebei1"></use>
            </svg>
            {{ global.L("CreateNewWallet") }}
        </div>
    </div>
</div>
