page-language-select {
	.save-btn {
		margin-right: 10px;
		color: #444;
		font-size: 18px;
		position: absolute;
		right: 0;
		font-weight: normal;
	}	

	.language-select-page {
		.language-list {
			padding: 0;
			padding-top: 14px;
			.language {
				font-size: 15px;
				padding-left: 25px;
				color: #FFFFFF;
				background: unset;
				&:last-child {
					border-bottom: none;
				}
				.icon {
					font-size: 22px;
					color: $newFirstColor;
					margin-right: -2px;
					&.no-choose {
						color: $newFiveColor;
					}
				}
				
				&.bor-btm {
					.item-inner {
						border-bottom: 1px solid rgba(255,255,255,0.1)!important;
					}
				}
				&.item-block {
					min-height: 5rem;
				}
				.item-inner {
					padding-right: 18px;
				}
			}			
		}

	}
}
