classify {
    .cloud-manage {
        position: fixed;
        top: 40px;
        right: 20px;
        padding: 0 10px;
        background: #302F34;
        text-align: center;
        line-height: 32px;
        border-radius: 4px;
        z-index: 99;
        color: $newFiveColor;
        box-shadow: 0 0px 9px rgba(0,0,0,0.2);
    }
}
