<!-- Generated template for the ClassifyComponent component -->
<div class="cloud-manage">
    <ul class="clear">      
        <li tappable (click)="goFolderPage('image')">
            <p>{{global.L('DirImages')}}</p>
        </li>
        <li tappable (click)="goFolderPage('video')">
            <p>{{global.L('DirVideos')}}</p>
        </li>
        <li tappable (click)="goFolderPage('music')">
            <p>{{global.L('DirMusics')}}</p>
        </li>
        <li tappable (click)="goFolderPage('document')">
            <p>{{global.L('DirDocuments')}}</p>
        </li>
    </ul>
</div>
  
