<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="search-header">
        <ion-title *ngIf="isShowTitle">
            <div class="home-title-box">
                <p class="home-title">{{global.L("Discovery")}}</p>
                <p class="list-point"><span></span><span class="active"></span><span></span></p>
            </div>
        </ion-title>
        <svg class="icon aside-nav-icon" (click)="displayMenu($event)" aria-hidden="true">
                <use xlink:href="#iconcaidan"></use>
        </svg>
        <div class="input-box"  *ngIf="!isShowTitle">
            <input type="text" (click)="goSearchBtPage()" class="common-general-button bt-input" readonly>
        </div>
        <svg class="icon icon-ellipsis icon-search" (click)="goSearchBtPage()" *ngIf="isShowTitle" aria-hidden="true">
            <use xlink:href="#iconsearch"></use>
        </svg>
        <svg class="icon icon-ellipsis" (click)="goBtTaskPage()" aria-hidden="true">
            <use xlink:href="#iconBTxiazaiguanli"></use>
        </svg>
    </ion-navbar>
</ion-header>
<ion-content (ionScroll)="onPageScroll($event)">
    <div class="main-content">
        <div class="search-body">
            <div class="recommend-title">
                <p>{{global.L("RecommendedResources")}}</p>
            </div>
            <ul>
                <li (click)="goBtDetailPage(item.resid);" *ngFor="let item of feedList">
                    <div class="bt-box defalut-box">
                        <p class="bt-title">{{ item.title }}</p>
                        <p class="p-info"><span>{{ item.mgdate | computeFileTime }} {{ item.size == '' ? '' : '·' }} {{ item.size }}</span></p>
                        <span class="download-btn" (click)="downloadBt(item);$event.stopPropagation();">{{global.L("Get")}}</span>
                        <p class="p-imglist" *ngIf="item.images" [ngClass]="item.images.length == 1 ? 'one-png' : ''"><span *ngFor="let img of item.images"><img [src]="img"  alt=""></span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="refreshFeedList($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
