<!--
  Generated template for the SearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
    <div class="search-page" *ngIf="this.global.SearchData">
        <header>
            <device networkStatusShow="true" (goDevicePage)="goAboutDevice()" (showPopup)="showNetworkPopup()" (goLoginPage)="goLoginPage()" lastPath="home-page"></device>
        </header>
        <div class="slides-box">
            <ion-slides pager spaceBetween="8px">
                <ion-slide *ngFor="let item of bannerList;">
                    <div class="bg-box" [ngStyle]="{'background-image': 'url(' + bannerStyle[item.bannerStyle] + ')'}">
                        <div class="float-left">
                            <p>{{ item.slogon }}</p>
                            <div class="logo-box">
                                <img [src]="item.logo" alt="">
                                <span>{{ item.abbreTitle }}</span>
                            </div>
                        </div>
                        <div class="float-right">
                            <img [src]="item.productImage" alt="">
                        </div>
                    </div>
                </ion-slide>
            </ion-slides>
            
        </div>
        <div class="app-list-box">
            <p class="app-more">
                {{global.L('FindFascinating')}}
                    <!-- <span class="more-span">
                    更多
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-you"></use>
                    </svg>
                </span> -->
            </p>
            <ul>
                <!-- <li ion-item class="app-li" (click)="goAppDetail()">
                    <svg class="icon app-logo" aria-hidden="true">
                        <use xlink:href="#icon-BindingUbbey"></use>
                    </svg>
                    <div class="info">
                        <p class="info-name eps">IPFS播放器</p>
                        <p class="info-icon-list eps">
                            <svg class="icon icon-type" aria-hidden="true">
                                <use xlink:href="#icon-DAPP"></use>
                            </svg>
                            <svg class="icon icon-type" aria-hidden="true">
                                <use xlink:href="#icon-Freeinstallation"></use>
                            </svg>
                        </p>
                        <p class="info-Introduction eps">基于IPFS的网络播放器</p>
                    </div>
                    <div class="info-status" item-end>
                        <p class="status-btn eps">获取</p>
                    </div>
                </li> -->
                <li ion-item  *ngFor="let item of showList;" class="app-li" (click)="goAppDetail(item)">
                    <img class="icon app-logo" [src]="item.logo">
                    <div class="info">
                        <p class="info-name eps">{{ item.title }}</p>
                        <p class="info-icon-list eps">
                            <img class="icon icon-type" *ngFor="let item of item.label" [src]="labelList[item].url">
                        </p>
                        <p class="info-Introduction eps">{{ item.summary }}</p>
                    </div>
                    <div class="info-status" item-end>
                        <p class="status-btn eps">{{ item.type == 0 ? global.L('Open') : global.L('Get') }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ion-content>
