page-notice-detail {
    .scroll-content {
        background: $newThreeColor;
        padding: 20px 18px;
    }
    .content-main{
        overflow-y: auto;
        box-sizing: border-box;
        .content-head{
            h4{
                font-size: 22px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 32px;
                margin: 0;
            }
            p{
                font-size: 14px;
                color: #78777C;
                letter-spacing: 0;
                margin: 16px 0 20px;
            }
        }
        .content-body{
             p{
                font-size: 14px;
                color: #fff;
                letter-spacing: 0;
                text-align: justify;
                line-height: 28px;
            }
            img{
                width: 100%;
            }
            a{
                color: $newFirstColor;
                font-size: 12px;
                text-decoration: none;
            }
        }
    }
}
