<!--
  Generated template for the DeviceSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title></ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<ion-refresher snapbackDuration="300" *ngIf="bindStatus == 0" (ionRefresh)="doRefresh($event)">
		<!-- <ion-refresher-content></ion-refresher-content> -->
	</ion-refresher>
	<div class="main-content" *ngIf="bindStatus != 0">
		<div class="search-box">
			<p class="p-title">{{ bindStatus == 1 ? global.L("BindSuccess") : global.L("BindFail") }}</p>
			<svg class="icon search-icon" *ngIf="bindStatus == 1" aria-hidden="true" item-end>
				<use xlink:href="#iconchenggong"></use>
			</svg>
			<svg class="icon search-icon" *ngIf="bindStatus != 1" aria-hidden="true" item-end>
				<use xlink:href="#iconshibai"></use>
			</svg>
		</div>
		<button class="go-next" tappable (click)="goNext()">
			{{ global.L("WORD2cb40779") }}
		</button>
	</div>
	<div class="main-content" *ngIf="bindStatus == 0">
		<p class="update-search" style="display:none;"><span>{{ global.L("DropDownAndSearchAgain") }}</span></p>
		<div class="search-box">
			<p class="p-title">
				{{ searchResult ? searchResult.length > 0 ? global.Lf("FindResult", searchResult.length) : global.L("CanotUseEquipment") : global.L("ScaningEquipment") }}
			</p>
			<svg class="icon search-icon" [ngClass]="searchResult ? 'hide-icon' : 'search-animation'"  aria-hidden="true"
				item-end>
				<use xlink:href="#iconsousuoshebei"></use>
			</svg>
		</div>
		<div class="slides-box" *ngIf="searchResult && searchResult.length > 0">
			<ion-slides pager spaceBetween="12px">
				<ion-slide *ngFor="let device of searchResult">
					<div class="bg-box">
						<div class="bind-info">
							<svg class="icon" aria-hidden="true" item-end>
								<use xlink:href="#icondefaulticon"></use>
							</svg>
							<div class="device-info">
								<p class="name">{{ device.boxType == 'UbbeyNext' ? 'UbbeyNext': 'UbbeyBox' }}</p>
								<p *ngIf="device.storage">{{ global.L("Capacity") }}: {{ device.storage | computeFileSize }}</p>
								<p>{{ global.L("SerialNumber") }}: {{ device.boxId }}</p>
								<p *ngIf="!!device.bindUser">{{ global.L("Binded") }}: {{ device.bindUser }}</p>
							</div>
						</div>
						<button class="bind-btn" (click)="bindBox(device)"
							[disabled]="device.bindUser"><span>{{ global.L("Bind") }}</span></button>
					</div>
				</ion-slide>
			</ion-slides>
		</div>
	</div>
</ion-content>