page-copy-photo {
    dl,dt,dd {
        margin: 0;
        padding: 0;
    }
    .page-content {
        min-height: 100%;
        font-size: 12px;
        color: $newFiveColor;
        line-height: 24px;
    }
    .copy-title {
        height: 72px;
        .item-block {
            height: 72px;
            background: unset;
            dt {
                font-size: 15px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 36px;
            }
            dd {
                font-size: 12px;
                color: $newFiveColor;
            }
            .item-inner {
                border-bottom: .5px solid rgba(255,255,255,0.1)!important;
            }            
        }
    }
    .copy-commentary {
        p {
            color: $newFiveColor;
            padding: 16px;
        }
    }
    .copy-number {
        height: 45px;
        line-height: 45px;
        font-size: 16px;
        padding: 0 16px;
        span {
            float: right;
        }
    }
    .list {
        .item-block {
            height: 72px;
            margin-bottom: 1px;
            background: $newFourColor;
            font-size: 12px;
            color: #78777C;
            .label {
                margin: 0;
                height: 100%;
                dl {
                    height: 100%;
                    overflow: hidden;
                    padding-top: 10px;
                }
                dt {
                    width: 48px;
                    height: 48px;
                    float: left;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                dd {
                    padding-left: 55px;
                    padding-top: 5px;
                    font-size: 16px;
                    color: #fff;
                    &.num-p {
                        padding-left: 55px;
                        color: $newFiveColor;
                        font-size: 12px;
                    }
                }
            }

        }
    }
}
