page-preview-other {
    text-align: center;
    .more-icon {
        position: absolute;
        right: 9px;
        color: #5D75F7;
        font-size: 43px;
        top: 0px;
    }
    .toolbar-background {
        background: $newFirstColor;
    }
    .scroll-content {
        background: $newThreeColor;
        color: $newFiveColor
    }
    .file-box {
        padding-bottom: 40px;
        padding-top: 70px;
        .file-type {
            display: block;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            float: unset;
			background-size: 44px 44px;
			img {
				display: block;
				width: 100%;
				height: 100%;
			}
        }
        h5 {
            color: #fff;
            font-size: 17px;
            font-weight: 400;
            clear: both;
            margin-top: 15px;
            margin-bottom: 5px;
            line-height: 24px;
        }
        p {
            color: #9B9B9B;
            font-size: 14px;
            line-height: 19px;
        }
    }
    .detail-box {
        color: #9B9B9B;
        font-size: 14px;
        padding: 18px;
        padding-top: 0;
        line-height: 20px;
        .progress-box {
            width: 100%;
            border-radius: 4px;
            margin-top: 20px;
            overflow: hidden;
            height: 44px;
            background: #404040;
            position: relative;
            .mask {
                position: relative;
                overflow: hidden;
                height: 100%;
                transition: all ease .2s;
                .btn {
                    width: calc(100vw - 40px);
                }
            }
            span {
                display: block;
                width: 100%;
                height: 44px;
                background: #5D75F7;
                color: #fff;
            }
            .btn {
                width: 100%;
                height: 44px;
                line-height: 44px;
                color: #4A4A4A;
                font-size: 17px;
                background: rgba(0,0,0,0);
                position: absolute;
                top: 0;
                left: 0;
                &.font-fff {
                    color: #fff;
                    background: $newSecondColor;
                }
            }
        }
        
    }
}
