<!--
  Generated template for the ClassifyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar class="clear" [ngClass]="allBtnsShow ? 'select-tollbar' :''">
        <ion-title>
        {{ allBtnsShow ? global.Lf('Downloading', selectedFiles.length) : pageTitle }}
        <div class="list-header">
            <div class="back-nav" *ngIf="!showFileSelect">
                <!-- <div class="back-btn"  *ngIf="allBtnsShow">  
                    <span tappable (click)="selectAll()">{{ selectAllStatus ? global.L("CancelSelectAll") : global.L("SelectAll") }}</span>               
                </div> -->
                <div class="select-btn" [ngClass]="showEng=='cn'?'':'eng-sel-btn'">
                    <div class="task-btn">
                        <svg class="icon" *ngIf="!allBtnsShow" tappable aria-hidden="true" (click)="goTaskPage()">
                            <use *ngIf="!judgeBusy()" xlink:href="#iconrenwuguanli"></use>
                            <use *ngIf="judgeBusy()" xlink:href="#iconrenwuguanlired"></use>
                        </svg>
                    </div>  
                    <span class="task-btn all-toggle-btn"  *ngIf="!allBtnsShow" tappable (click)="showAllBtns(null)">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#iconduoxuan"></use>
                        </svg> 
                    </span>  
                    <span *ngIf="allBtnsShow" tappable (click)="selectAll()">{{ selectAllStatus ? global.L("CancelSelectAll") : global.L("SelectAll") }}</span>   
                    <span *ngIf="allBtnsShow" tappable (click)="cancelSelect()"> / {{global.L("Cancel")}}</span>
                </div>     
            </div>    
        </div>
    </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="main-content">
        <div class="file-content">
            <!-- <div class="scr-content"> -->
                <ul class="file-list" *ngIf="dataAcquired && fileList.length > 0" (press)="showAllBtns()">
                <!-- <div *ngIf="dataAcquired && fileList.length > 0"> -->
                    <!-- <ion-list class="file-list" [virtualScroll]="fileList" approxItemHeight="73px" bufferRatio="10" > -->
                        <li class="file-list-item" tappable [ngClass]="classify == 1 ? 'img-li' : ''" *ngFor="let info of fileList" tappable (click)="goNextFolder(info);$event.stopPropagation();">
								<div class="file-type" *ngIf="classify != 1" [ngClass]="info.fileStyle"></div>
								<!-- <img class="file-thumbnail" [src]="info.thumbnail" *ngIf="info.thumbnail && classify == 1"> -->
								<div class="info" *ngIf="classify != 1">
									<h2 class="eps">{{ pretify(info.name) }}</h2>
									<p>{{ info.displayTime }}</p>
								</div>
								<div class="btn" *ngIf="classify != 1">
									<svg class="icon icon-ellipsis" aria-hidden="true" *ngIf="!allBtnsShow" (click)="goDetailPage(info);$event.stopPropagation();">
										<use xlink:href="#icongengduo1"></use>
                                    </svg>                    
                                    <em class="nochoose-circle" *ngIf="!info.selected && allBtnsShow"></em>
									<svg class="icon icon-right" aria-hidden="true" *ngIf="info.selected && allBtnsShow" [ngClass]="info.selected?'light':''">
										<use xlink:href="#icongouxuan"></use>
									</svg>
								</div>
								<div class="file-box image active" *ngIf="classify == 1">
									<div class="file-type img-box" *ngIf="!info.thumbnail" [ngClass]="info.fileStyle"></div>
									<img class="file-thumbnail img-box" [src]="info.thumbnail | photoSantizer" *ngIf="info.thumbnail">
									<div class="btn">
										<em class="nochoose-circle" *ngIf="!info.selected && allBtnsShow"></em>
										<svg class="icon icon-ellipsis" *ngIf="info.selected && allBtnsShow" aria-hidden="true">
											<use xlink:href="#icongouxuan"></use>
										</svg>
									</div>
								</div>								
							<!-- <div class="list-wrapper" *ngIf="info.type == 2">
								<p>{{ info.name }}</p>
								<svg class="icon icon-right" aria-hidden="true" *ngIf="allBtnsShow" [ngClass]="info.selected?'light':''">
									<use xlink:href="#icon-gouxuanicon"></use>
								</svg>
							</div> -->
                        </li>
                    <!-- </ion-list>-->
                <!-- </div> -->
                </ul>
                <div class="blank-height-50" *ngIf="dataAcquired && fileList.length > 0 && allBtnsShow"></div>
                <div class="no-file" *ngIf="dataAcquired && fileList.length === 0">
                    <img src="assets/img/file@2x.png" alt="">
                    <p>{{global.L("YouHaveUploadFile")}}</p>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- <div class="add-wrapper"> -->    
    <!-- </div> -->

    <ion-infinite-scroll (ionInfinite)="refreshFileList($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<!-- <div class="add" tappable *ngIf="!allBtnsShow" [ngClass]="[allBtnsShow ? 'at-bottom' : '', hideAddBtn ? 'hidden' : '']"  (click)="openFileSelect()">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-add"></use>
    </svg>
</div>    -->

<div class="operation-btns" *ngIf="allBtnsShow && !isShowDetail">
    <div class="btn download" tappable (click)="downloadFileList()" [ngClass]="canDownload?'':'disable'">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icondownloadicon1"></use>
        </svg>    
        <span>{{global.L("Download")}}</span>    
    </div>    
    <div class="btn move" tappable (click)="moveSingleFile()" [ngClass]="canMove?'':'disable'">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#iconMoveicon1"></use>
        </svg>    
        <span>{{global.L("Move")}}</span>    
    </div>    
    <div class="btn delete" tappable (click)="deleteFile()" [ngClass]="canDelete?'':'disable'">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#icondelete1"></use>
        </svg>    
        <span>{{global.L("Delete")}}</span>    
    </div>    
    <div class="btn rename" tappable (click)="renameFile()" [ngClass]="canRename?'':'disable'">
        <svg class="icon" aria-hidden="true">
            <use xlink:href="#iconRenameicon1"></use>
        </svg>    
        <span>{{global.L("Rename")}}</span>    
    </div>
</div>


<!-- <add-file *ngIf="showFileSelect" [currPath]="currPath" eventType="list" [allBtnsShow]="allBtnsShow" (selectFileDone)="closeFileSelect()" (closeFileSelect)="closeFileSelect()"></add-file> -->
