<!-- Generated template for the FileDetailComponent component -->
<div class="info-box">
    <div class="box-bg" tappable (click)="closeBox()"></div>
    <div class="content-box" >
        <div class="info-operation">
        <ul>
            
            <li (click)="downloadFile()">
                <span class="iconspan download">
                    <svg class="icon icon-ellipsis nexticon" aria-hidden="true" >
                        <use xlink:href="#icon-downloadicon"></use>
                    </svg> 
                </span>
                <span class="font-span">{{ global.L('Download') }}</span>
            </li>
            <li (click)="moveFilePath()">
                <span class="iconspan move">
                    <svg class="icon icon-ellipsis nexticon" aria-hidden="true" >
                        <use xlink:href="#icon-Moveicon"></use>
                    </svg> 
                </span> 
                <span class="font-span">{{ global.L('Move') }}</span>
            </li>
            <li (click)="goImgDetailPage()">
                <span class="iconspan">
                    <svg class="icon icon-ellipsis nexticon" aria-hidden="true" >
                        <use xlink:href="#icon-Shareicon"></use>
                    </svg> 
                </span>
                <span class="font-span">详情</span>
            </li>
            <li (click)="deleteFile()">
                <span class="iconspan delete">
                    <svg class="icon icon-ellipsis nexticon" aria-hidden="true" >
                        <use xlink:href="#icon-deleteicon"></use>
                    </svg> 
                </span> 
                <span class="font-span">{{ global.L('Delete') }}</span>
            </li>
            <li (click)="renameFile()">
                <span class="iconspan rename">
                    <svg class="icon icon-ellipsis nexticon" aria-hidden="true" >
                        <use xlink:href="#icon-Renameicon"></use>
                    </svg> 
                </span> 
                <span class="font-span">{{ global.L('Rename') }}</span>
            </li>
           
        </ul>
        </div>
    </div>
</div>
