<!--
  Generated template for the CoinSendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{global.L("Transfer")}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="my-content">
    <div class="transfer-warning">
        <img src="assets/img/tishi.svg" class="fl" alt="">
        <span>{{global.L("EnterAddressPrompt")}}</span>
    </div>
	<div class="wallet-address">
		<div class="address-area">
			<div class="desc clear">
		       <p class="label fl">{{global.L("WalletAddress")}}</p>
		       <div class="scan-qrcode fr" (click)="scanWallet()">
	            <svg class="icon qrcode-icon" aria-hidden="true">
	                <use xlink:href="#iconsaoma"></use>
	            </svg>		       	
		       </div>
			</div>
			<input type="text" name="toWallet"  autocomplete="off" [(ngModel)]="toWallet" placeholder="{{global.L('EnterAddress')}}" />
	  </div>	
	</div>
	<div class="transfer-amount">
		<div class="desc clear">
			<p class="label fl">{{global.L("TransferAmount")}}</p>
			<span class="label fr" (click)="transferAll()" *ngIf="chainType === 'ERC20'">{{global.L("AllTurnOut")}}</span>
		</div>
		<!-- <input class="transfer-input" name="sendAmount" type="number" [(ngModel)]="sendAmount"  /> -->

		<input  autocomplete="off" class="transfer-input" name="sendAmount" type="number" [(ngModel)]="sendAmount" placeholder="{{global.L('InputFullAmount')}}" />
		<p class="total">{{global.L("AvailableBalance")}}<span> {{ total }} UBBEY</span></p>
	</div>
	<div class="mining-fees">
		<div class="desc clear">
			<p class="label fl">{{global.L("MinersFee")}}</p>
			<span class="fr">{{ chainType === 'ERC20' ? gasUsed + 'ETH(' + global.L("About"): '' }}{{ chainType === 'ERC20' ? gasUbbeyUsed + 'UBBEY)' : gasUbbeyUsed + 'UBBEY'}} </span>
		</div>		
		<div class="progress-info">
		  <ion-range class="my-range-bar" [max]="100" (ionChange)="progressChanged()" [(ngModel)]="progress">
		    <span class="left-tips" range-left>{{global.L("TransferSlow")}}</span>
		    <span class="right-tips" range-right>{{global.L("TransferFast")}}</span>
		  </ion-range>
		</div>
		<p class="tips" *ngIf="chainType === 'ERC20'">{{global.L("TransferPrompt")}}</p>
	</div>

	<div class="common-focus-button confirm-btn" tappable (click)="startPay()">{{global.L("Next")}}</div>

</ion-content>
<div class="coin-send-box" *ngIf="isShowPayBox">
    <div class="coin-send-bg" (click)="toggleShowPayBox(false)"></div>
    <div class="coin-send-content">
        <p class="p-title">{{global.L('Pay')}}</p>
        <p class="p-send-num">{{sendAmount}}<span> UBBEY</span></p>
        <p class="p-send-addr">{{ global.L('TransferTo') }}<span class="p-addr">{{toWallet}}</span></p>
        <p class="p-input"><input autocomplete="off" type="password" [placeholder]="global.L('PayPasswordPlaceholder')" [(ngModel)]="payPassword" /></p>
        <p class="p-btn-box"><span class="cancel-btn" (click)="toggleShowPayBox(false)">{{ global.L('Cancel') }}</span><span class="ok-btn" (click)="getPayPassword()">{{ global.L('Ok') }}</span></p>
    </div>
</div>
