page-bt-task {
    .toolbar-background {
        background: $newFirstColor;
    }
    .text-right{
        text-align: right;
        .icon-right{
            font-size: 24px;
        }
    }
    .toolbar-ios ion-title {
        padding-right: 0;
    }
    .toolbar-title {
        color: #fff;
        text-align: left;
        height: 46px;
        line-height: 46px;
    }
    .toolbar-content {
        text-align: left;
        color: #fff;
        font-size: 18px;
        .icon {
            float: right;
            font-size: 40px;
            margin-left: 3px;
            margin-right: 6px;
            padding: 10px;
            margin-top: 3px;
        }
    }

    .tab-list {
        width: 100%;
        height: 40px;
        overflow: hidden;
        li {
            width: 50%;
            height: 40px;
            float: left;
            text-align: center;
            background: $newFourColor;
            line-height: 40px;
            color: $newFiveColor;
            &:first-child {
                border-right: 1px solid $newThreeColor;
            }
            &.active {
                color: #fff;
                box-sizing: border-box;
            }
        }
    }
    .task-box, .scroll-content{
        background: $newThreeColor;
    }
    .task-list {
        overflow: hidden;
        margin-top: 20px;
        padding-bottom: 50px;
        p {
            color: $newFirstColor;
            &.file-name {
                word-break: break-all;
                word-wrap: break-word;
                white-space: unset!important;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp:2;
                -webkit-box-orient: vertical;
                color: #fff;
                line-height: 22px;
                font-size: 14px;
                overflow: hidden;
                margin-bottom: 8px;
                min-height: 44px;
            }
            .file-info {
                font-size: 12px;
            }
        }
        .task-item {
            position: relative;
            .task-item-box {
                width: calc(100% - 20px);
                margin: 0 auto;
                margin-bottom: 10px;
                background: $newFourColor;
                color: #fff;
                padding: 10px;
                border-radius: 2px;
                overflow: hidden;
                position: relative;
            }
            .info {
                width: calc(100% - 80px);
                float: left;
            }
            .speed {
                width: 80px;
                position: absolute;
                right: 0;
                height: 100%;
                top: 0;
                .progress {
                    width: 100%;
                    position: absolute;
                    right: 0;
                    height: 100%;
                    top: 0;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .icon {
                        font-size: 32px;
                        color: $newFiveColor;
                    }
                    span {
                        font-size: 12px;
                        margin-top: 6px;
                        color: $newFiveColor;
                    }
                }
            }
            .delete-btn {
                position: absolute;
                bottom: -29px;
                padding: 4px 17px;
                background: #302F34;
                box-shadow: 0 2px 20px 0 rgba(0,0,0,0.50);
                border-radius: 3px;
                right: 36px;
                font-size: 15px;
                color: #78777C;
                letter-spacing: 0;
                z-index: 999;
            }
        } 
    }
    .task-options {
        position: fixed;
        top: 24px;
        right: 20px;
        padding: 0 10px;
        background: #302F34;
        text-align: center;
        line-height: 32px;
        border-radius: 4px;
        z-index: 99;
        color: $newFiveColor;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
    }
}
