<!--
  Generated template for the BtTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="text-right">
        <svg class="icon icon-right" (click)="goBtSetPage()" aria-hidden="true">
            <use xlink:href="#icon-Setting"></use>
        </svg>
    </ion-navbar>

</ion-header>


<ion-content>
    <ul class="tab-list">
        <li class="active">下载中</li>
        <li>已完成</li>
        <li>分享中</li>
    </ul>
    <div class="task-box">
        <ul class="task-list">
            <li class="teak-item" tappable ion-item *ngFor="let item of btTaskList">
                <div class="info" (click)="goBtPlayPage(item)">
                    <p class="file-name">{{ item.name }}</p>
                    <p class="file-info eps">{{ item.finish | computeFileSize }}／{{ item.total | computeFileSize }}  {{ getComputed(item.finish, item.total) }}</p>
                </div>
                <div class="speed clear" item-end>
                    <div class="progress fl circle btn">
                        <i *ngIf="item.status == -1 || item.status == 0 || item.status == 1" (click)="changeTaskStatus(item, 2)">暂停</i>
                        <i (click)="deleteTask(item)">删除</i>
                        <i *ngIf="item.status == 2 || item.status == 4" (click)="changeTaskStatus(item, 1)">继续下载</i>
                        <!-- <svg class="icon icon-right" aria-hidden="true">
                            <use xlink:href="#icon-gouxuanicon"></use>
                        </svg> -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>
