<!--
  Generated template for the BtTaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar class="text-right" (click)="toggleShowOptions('close');toggleShowDelete()">
        <ion-title>
            {{ global.L("DownloadTask") }}
            <svg class="icon icon-right" tappable 
                (click)="toggleShowOptions();toggleShowDelete();$event.stopPropagation();" aria-hidden="true">
                <use xlink:href="#icongengduo1"></use>
            </svg>
            <svg class="icon icon-right" tappable  (click)="showPcToast()" aria-hidden="true">
                <use xlink:href="#iconPCView1"></use>
            </svg>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content (click)="toggleShowOptions('close')">
    <ul class="tab-list">
        <li tappable  [ngClass]="tabIndex == 0 ? 'active' : ''" (click)="changeIndex(0)">
            {{ global.L("DownloadingNum") }}({{ btDoingNum }})</li>
        <li tappable  [ngClass]="tabIndex == 1 ? 'active' : ''" (click)="changeIndex(1)">
            {{ global.L("WORD3c80409a") }}({{ btDoneNum }})</li>
    </ul>
    <div class="task-box">
        <ul class="task-list" *ngIf="tabIndex == 0">
            <li class="task-item" tappable  *ngFor="let item of btDoingList" (press)="toggleShowDelete(item, true)">
                <div class="task-item-box">
                    <div class="info">
                        <p class="file-name">{{ item.name }}</p>
                        <p class="file-info eps">{{ item.finish | computeFileSize }}/{{ item.total | computeFileSize }}
                            · {{ getStatus(item) }}
                            {{ item.status == 1 ? (item.download_speed | computeFileSize) + '/s' : ''}}</p>
                    </div>
                    <div class="speed clear">
                        <div class="progress fl circle btn">
                            <svg *ngIf="item.status == -1 || item.status == 0 || item.status == 1"
                                class="icon icon-right" (click)="changeTaskStatus(item, 2)" aria-hidden="true">
                                <use xlink:href="#iconzanting"></use>
                            </svg>
                            <svg *ngIf="item.status == 2" (click)="changeTaskStatus(item, 1)" class="icon icon-right"
                                aria-hidden="true">
                                <use xlink:href="#iconjixuxiazai"></use>
                            </svg>
                            <svg *ngIf="item.status == 4" (click)="changeTaskStatus(item, 1)" class="icon icon-right"
                                aria-hidden="true">
                                <use xlink:href="#iconchongxinxiazai1"></use>
                            </svg>
                            <span>{{ getChangeStatus(item) }}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="item.isDelete" class="delete-btn" tappable  (click)="hideMask(item)"><span tappable  (click)="deleteTask(item);$event.stopPropagation();
				">{{ global.L("Delete") }}</span></div>
            </li>
        </ul>
        <ul class="task-list" *ngIf="tabIndex == 1">
            <li class="task-item" tappable  *ngFor="let item of btDoneList" (press)="toggleShowDelete(item, true)">
                <div class="task-item-box" (click)="goListPage(item)">
                    <div class="info">
                        <p class="file-name">{{ item.name }}</p>
                        <p class="file-info eps">{{ item.total | computeFileSize }} · {{ getStatus(item) }}</p>
                    </div>
                    <div class="speed clear">
                        <div class="progress fl circle btn">
                            <svg class="icon icon-right" aria-hidden="true">
                                <use xlink:href="#iconchakanwenjian1"></use>
                            </svg>
                            <span>{{ getChangeStatus(item) }}</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="item.isDelete" class="delete-btn"><span
                        (click)="deleteTask(item)">{{ global.L("Delete") }}</span></div>
            </li>
        </ul>
    </div>
</ion-content>

<div class="task-options" *ngIf="isShowOptions" (click)="closeTaskOptions()">
    <div class="task-options-wrap">
        <ul class="clear">
            <li tappable  (click)="toggleAllTaskList('start')">
                <p>{{ global.L("AllStart") }}</p>
            </li>
            <li tappable  (click)="toggleAllTaskList('stop')">
                <p>{{ global.L("AllStop") }}</p>
            </li>
            <li tappable  (click)="goBtSetPage()">
                <p>{{ global.L("DownloadSet") }}</p>
            </li>
        </ul>
    </div>
</div>
